h4.notificate_seller,h4.notificate_buyer{
	color:#0387ee;
	border-bottom:none;
	font-weight: bold;
  &::after{
    content: '';
    display: block;
    margin-top: 10px;
    width: 3%;
    max-width: 30px;
    min-width: 30px;
    height: 4px;
    background-color: #0387ee;
    border-radius: 5px;
  }
}

.notificate_buyer{
	margin-top: 30px;
}
#edit-email-buyer{
  margin-bottom: 60px;
}
.submit-noti{
  color: #ffffff;
  font-size: 20px;
  // background-color: #01c999;
  // border-color: #01b086;
  float: right;
  padding: 15px 80px;
  cursor: pointer;
}