body.page-user-bid-details, body.page-user-sale-bid-detail {
  div.content .container {
    form#form-bid-details, form#form-sale-bid-detail {

      div.title-container {
        position: relative;
        padding: 0;
      }

      div[id^='edit-expired-at'],
      div[id^='edit-started-at'],
      div[id^='edit-date-now'], {
        display: none;
      }

      div[id^='edit-menu-bid'] {
        margin-bottom: 0;
        padding: 0;
        > label {
          line-height: 3em;
          font-size: 1.3em;
          color: @bidcarros-blue;
        }
      }

      div[id^='edit-return'] {
        position: absolute;
        top: 35%;
        right: 1%;
        a {
          color: #000000;
          text-decoration: none;
          font-weight: bold;
        }
      }

      div.wrapper-first-div {
        padding: 0;
        background-color: #ffffff;
        border-top: 3px solid @bidcarros-blue;
      }

      div[id^='edit-logo'] {
        padding: 0;
        text-align: center;
        border-bottom: 2px solid @gray-light;

        img {
          width: 200px;
          height: 200px;
          margin: 0 auto;
        }

        img.no-logo {
          height: 50px;
          margin: 45px auto;
        }
        hr {
          display: block;
          height: 1px;
          border: 0;
          border-top: 1px solid #000000;
        }
      }

      div[id^='edit-vehicle'],
      div[id^='edit-year'],
      div[id^='edit-brand'],
      div[id^='edit-car'],
      div[id^='edit-km-travell'] {
        @media @tablet {
          display: inline-block;
        }
        > label {
          color: @gray;
          font-weight: bold;
        }

        > span {
          font-size: 20px;
          font-weight: bold;
        }

        // @media screen and (min-width: 400px) and (max-width: 767px) {
        //   text-align: center;
        // }
      }

      div.offer-close {
        padding-bottom: 15px;

        div.offer_available {
          top: 10px;
          padding-right: 0;
          div[id^='edit-num-of-seller'] {
            padding: 0;
            @media screen and (min-width: 1024px) {
              border-right: 1px solid @gray;
            }
            top: 8px;

            i.fa.fa-map-marker {
              font-size: 2.2em;
              display: inline-block;
              position: absolute;
              &:before {
                content: '';
                display: inline-block;
                width: 1.2em;
                height: 1.6em;
                background-image: url('../img/ofertas-disponibles.png');
                background-repeat: no-repeat;
                background-size: 100% 100%;
              }
            }

            div.ctn {
              display: inline-block;
              font-size: 2.8em;
              padding-left: 2%;
              font-weight: bold;
              color: #000000;
              margin-left: 50px;
            }

            @media screen and (min-width: 992px) and (max-width: 1023px) {
              float: none;
              margin: 0 auto;
              text-align: right;
              margin-right: 0px;
            }
          }

          div[id^='edit-ctn-label'] {
            // display: inline-block;
            font-size: 20px;
            top: 15px;
            text-align: center;
            padding-right: 0;
            margin-top: 10px;

            @media screen and (min-width: 320px) and (max-width: 1023px) {
              padding-left: 0;
              top: 0;
            }

            @media screen and (min-width: 992px) and (max-width: 1023px) {
              width: 365px;
              float: none;
              margin: 10px auto;
              text-align: right;
              margin-right: 0px;
            }

            @media screen and (min-width: 1024px) and (max-width: 1169px) {
              top: 0;
            }

            @media screen and (min-width: 1170px) and (max-width: 1280px) {
              top: 15px;
            }
          }

          @media screen and (min-width: 320px) and (max-width: 1023px) {
            padding-left: 0;
          }

          @media screen and (max-width: 1280px) {
            text-align: center;
          }

        }

        div.close-button {
          display: inline-block;
          padding-top: 20px;
          padding-right: 0;

          button[id^='edit-close'] {
            width: 250px;
            text-align: left;
            height: 30%;
            font-size: 25px;
            color: #ffffff;
            background-color: @bidcarros-cyan;

            span {
              font-size: 32px;
            }
            &:hover {
              color: #ffffff;
              background-color: @btn-info-bg-hover;
              border-color: #004849;
            }

            @media screen and (min-width: 1024px) and (max-width: 1279px) {
              width: 250px;
            }
          }

          @media screen and (min-width: 992px) and (max-width: 1023px) {
            width: 560px;
          }

          @media screen and (min-width: 1170px) {
            width: 300px;
            text-align: right;
          }

          @media screen and (max-width: 1169px) {
            display: block;
            margin: 0 auto;
            text-align: center;
            padding-left: 0;
          }
        }

      }

      div[id^='edit-vehicle-price-info'],
      div[id^='edit-list-matches-bid'] {
        padding: 0;
        > label {
          display: block;
          line-height: 3em;
          font-size: 1.3em;
          margin-bottom: 1.2em;
          color: @bidcarros-blue;
          border-bottom: 2px solid @bidcarros-blue;
        }
      }

      div.form-time {
        background-color: #ececec;
        border-top: 2px solid #000000;

        div.time-information {
          padding-left: 0;
          padding-bottom: 15px;
          div.expired-text {
            padding: 0;
            top: 10px;
            font-size: 1.6em;
            font-weight: bold;
          }

          div[id^='edit-time-expired'] {
            text-align: center;
            top: 10px;

            div.day {
              width: 30%;
            }

            div.day, div.hour, div.min, div.sec {
              span:last-child {
                display: block;
              }

              span:nth-child(1),
              span:nth-child(2) {
                font-size: 2.5em;
                font-weight: bold;
              }
            }

            // div.day {
            //   span:nth-child(1) {
            //     padding-left: 30%;
            //   }
            // }

            div.hour, div.min {
              span:nth-child(2) {
                padding-left: 15%;
              }
            }

            div.sec.col-xs-3 {
              width: 20%;
            }

            @media screen and (min-width: 421px) and (max-width: 438px) {
              font-size: 14px;
            }
          }
        }

        div.progress {
          padding: 0;
          border: 1px solid #c7c3c3;

          div[id^='edit-time-progress'] {
            width: 100%;
          }
        }

        div.start-at {
          padding-left: 0;
          font-weight: bold;
          color: @gray;
          margin-bottom: 10px;
        }
      }

      div[id^='edit-vehicle-price-info'] {
        display: block !important;
        margin-top: 5%;

        .min-price,
        .max-price {
          text-align: center;
        }

        .min-price {
          @media screen and (min-width: 768px) {
            border-right: 1px solid @gray;
          }
        }

        .fa {
          display: inline-block;
          font-size: 3em;
          padding-right: 10px;
          vertical-align: top;
        }

        i.fa-arrow-circle-down {
          color: @bidcarros-green;
        }

        i.fa-arrow-circle-up {
          color: @bidcarros-blue;
        }

        div.txt {
          display: inline-block;
          .prefix {
            font-weight: bold;
            color: @gray;
            font-size: 30px;
          }

          .ctn {
            font-weight: bold;
            font-size: 30px;
          }
        }
      }

      div.offer-list {
        padding: 0;
        position: relative;

        div[id^='edit-introduce'] {
          padding: 0;
          position: absolute;
          text-align: right;
          top: 2%;
          right: 1%;
          label {
            text-decoration: underline;
          }

          @media screen and (min-width: 140px) and (max-width: 379px) {
            font-size: 11px;
            top: 4% !important;
          }

          @media screen and (min-width: 380px) and (max-width: 420px) {
            font-size: 15px;
            top: 2% !important;
          }
        }
      }

      div[id^='close-modal'] {

        div.modal-body div.row {
          .radio label::after {
            background-color: @bidcarros-blue;
          }

          div.form-type-radio.form-item-color.form-item.radio {
            padding-top: 15px;
            padding-left: 35px;
          }
        }

        div.close-bid {
          text-align: center;
          margin: 10px;

          button#close-bid {
            width: 70%;
            font-size: 1.5em;
          }
        }
      }

      div[id^='reason-modal'] {
        div#reason-text {
          padding: 20px;
        }

        div.close-reason {
          text-align: center;
          margin: 10px;

          button#close-reason-form {
            width: 70%;
            font-size: 1.5em;
          }
        }
      }

      div#related-bids-wrapper {
        .tbl-bids-list;
        .container-fluid {
          .no-padding;
        }
        .bid-price {
          .fa {
            font-size: 2.2em;
          }

        }
        .menu-action {
          font-size: 10px;
        }
      }
    }
  }
  #content{
    div#main-content{
      form#form-bid-details{
        #edit-list-matches-bid{
          div#related-bids-wrapper{
            .bid-price {
              @media screen and (max-width: 767px) and (min-width: 140px) {
                text-align: center;
                .fa {
                  vertical-align: middle;
                }
              }
              padding-left: 0;
              .fa {
                font-size: 2.3em;
              }
              .prefix{
                color: @bidcarros-gray;
                font-size: 22px;
                font-weight: bold;
                vertical-align: middle;
              }
              .ctn{
                font-size: 22px;
                font-weight: bold;
                vertical-align: middle;
              }
            }
            .bid-name{
              text-align: center;
              padding: 0 10px;
            }

            .bid-location {
              text-align: center;
              padding: 0 10px;
            }
            .bid-rate{
              text-align: center;
              color: @bidcarros-gray;
            }
            .remove-bid{
              padding: 10px 20px;
              .fa{
                font-size: 2.2em;
                color: @bidcarros-gray;
              }
              &:hover{
                background: @bidcarros-gray-light;
              }
            }
            .detail-bid{
              padding: 10px 20px;
              .fa{
                font-size: 2.2em;
                color: @bidcarros-navy;
              }
              &:hover{
                background: @bidcarros-gray-light;
              }
            }
          }
        }
      }
    }
  }
  .button-close {
    cursor: pointer;
  }
}


@media screen and (max-width: 420px) and (min-width: 140px) {
form#form-bid-details div[id^='edit-vehicle-price-info'] div.txt {
  .prefix, .ctn {
    font-size: 20px !important;
  }
}
  body.page-user-bid-details div.content .container {
    form#form-bid-details, form#form-sale-bid-detail {
      div[id^='edit-vehicle'], div[id^='edit-year'], div[id^='edit-brand'] {
        width: 100%;
        text-align: center;
      }
      div.form-time {
        div[id^='edit-time-expired'] {
          div.day, div.hour, div.min, div.sec {
            span:nth-child(1),
            span:nth-child(2) {
              font-size: 16px !important;
            }
          }
          div.day {
            padding: 0 !important;
          }
        }
      }
      .close-button {
        display: block !important;
      }
      div[id^='edit-list-matches-bid']>label {
        font-size: 1em;
        margin-bottom: 40px;
        line-height: 2em;
      }
      div.offer-list div[id^='edit-introduce'] {
        top: 12%;
      }
    }
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px)  {
  body.page-user-bid-details div.content .container {
    form#form-bid-details {
      .row {
        display: table;
        width: 100%;

      }
      #close-modal {
        .row {
          display: block;
        }
      }
      div[id^='edit-list-matches-bid'] {
        div[id~='related-bids-wrapper'] {
          padding-left: 5px !important;
          .bid-price {
            text-align: left !important;
            .prefix, .ctn {
              font-size: 21px !important;
            }
            .prefix {
              padding: 0 !important;
            }
          }
        }
        div[class^="col"] {
          // padding-left: 0;
          // text-align: right;
          display: table-cell;
          vertical-align: middle;
          float: none;
          word-break: break-word;
        }
      }
    }
  }
}
