	#form-create-sale-bid #edit-price {
		color: #08e;
		font-size: 16px;
		padding: 10px 20px;
		font-weight: bold;
	}

	#form-bids-seller-info, #form-sale-bid-detail {
		input:focus, select:focus, input:active, select:active {
			outline: 0;
			border: 0;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
		}

		span.title-price-max-min {
			color: #7C7171;
			font-weight: bold;
			display: block;
		}

		.line-arrow-max-min {
			padding: 0;
			margin-bottom: 20px;
			position: relative;
			.line-max-min {
				width: 100%;
				height: 3px;
				background: -webkit-linear-gradient(90deg, #00CF9C, #0087F1);
				background: -o-linear-gradient(90deg, #00CF9C, #0087F1);
				background: -moz-linear-gradient(90deg, #00CF9C, #0087F1);
				background: linear-gradient(90deg, #00CF9C, #0087F1);
				display: inline-block;
			}
			.fa {
				vertical-align: bottom;
				width: 1%;
				position: absolute;
				bottom: 0;
			}
			.fa-arrow-left {
				color: #00CF9C;
				left: 0;
			}

			.fa-arrow-right {
				color: #0087F1;
				right: 0;
			}
		}

		.wrapper-price-max-min {
			margin-bottom: 20px;
			padding: 0;
		}
		.offer-label {
			padding: 0;
		}
		.offer-label, label[for^='edit-my-offer'] {
			font-weight: bold;
			color: black;
			margin-bottom: 20px;
		}

		#edit-my-offer {
			color: @bidcarros-blue;
			font-size: 24px;
			padding: 10px 0;
			font-weight: bold;
			width: 75%;
			display: inline-block;
		}

		.form-item-year, .form-item-condition {
			vertical-align: bottom;
		}

		.form-group {
			margin-bottom: 30px;
		}

		input[type=checkbox] {
			display: none;
			visibility: hidden;
		}

		input[type=radio] {
			display: none;
			visibility: hidden;
		}

		label {
			display: block;
		}

		input[type=checkbox]:checked + label:before {
			content: "\2713";
			text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
			font-size: 15px;
			color: #f3f3f3;
			text-align: center;
			line-height: 15px;
			cursor: pointer;
		}

		.checkbox input[type=checkbox]:checked + label:after {
			font-family: 'Glyphicons Halflings';
			content: "\e013";
		}

		.checkbox label:before {
			border-radius: 50%;
		}

		input, select{
			color: @bidCarros-graycolor;
			border: none;
		}

		.form-item-model {
			input{
				color: @bidcarros-blue;
				padding-right: 50px;
				font-weight: bold;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		.label-fieldset{
			color: @bidcarros-blue;
			font-weight: bold;
			border-bottom: solid 2px @bidcarros-blue;
			margin-bottom: 30px;
			padding: 0 0 20px;
			font-size: 20px;
		}

		.form-item-price, .form-item-condition, .form-item-km-travell, .form-item-enviroment {
			width: 33%;
			display: inline-block;
		}

		label[for="edit-optional-extras"] {
			margin-bottom: 10px;
		}

		#edit-optional-extras {
			overflow: auto;
			width: 100%;
			height: auto;
			background-color: @white;
			.form-item {
				margin: 0;
			}
		// .form-item.checkbox {
		// 	width: 25%;
		// 	margin-left: 8%;
		// 	label{
		// 		font-size: 16px;
		// 		font-weight: bold;
		// 	}
		// }
	}

	.form-item-body-type, .form-item-purpose, .form-item-type-of-sheild, .form-item-sheild-age {
		width: 49%;
		display: inline-block;
	}

	.group-colour-sheild, .form-item-optional-extras {
		background-color: @bidcarros-white;
		padding: 10px;
		margin-bottom: 20px;
		#edit-optional-extras{
			.form-type-checkbox{
				display: inline-block;
			}
		}
		#edit-type-of-sheild, #edit-sheild-age {
			border: 1px solid @bidCarros-graycolor;
		}
	}

	label[for='edit-colour'], p.markup-price, label[for='edit-addition-car']{
		display: block;
		color: @bidcarros-blue;
		border-bottom: 2px solid @bidcarros-blue;
		margin-bottom: 20px;
	}

	p.markup-price {
		font-weight: bold;
	}

	#edit-colour{
		padding-left: 70px;
	}
	.form-item-colour {
		div[class^="color-image"] {
			display: block;
			width: 120px;
			height: 50px;
			margin-left: -20px;
			margin-bottom: 10px;
		}

		.color-image-black {
			background-color: @gray-base;
		}

		.color-image-silver {
			background-color: @bidcarros-silver;
		}

		.color-image-white {
			background-color: @white;
			border: solid 1px black;
		}

		.color-image-other {
			//background: -webkit-linear-gradient(red, blue); /* For Safari 5.1 to 6.0 */
			//background: -o-linear-gradient(red, blue); /* For Opera 11.1 to 12.0 */
			//background: -moz-linear-gradient(red, blue); /* For Firefox 3.6 to 15 */
			//background: linear-gradient(red, blue); /* Standard syntax */
			background: url("../img/other_color.jpg") no-repeat;
			background-size: 110px 50px;
		}

		#edit-colour{
			.form-item.radio{
				display: inline-block;
				width: 22%;
				margin-left: 1%;
			}
		}
	}

	.form-item-purpose, .form-item-sheild-age{
		float: right;
	}

	.grippie {
		display: none;
	}

	.form-item-price{
		vertical-align: top;
	}

	div#edit-make {
		label {
			display: block;
		}
		div#div_logo,
		img {
			height: 42px;
			display: inline-block;
		}
		input {
			display: inline-block;
			width: 450px;
			padding-left: 5px;
		}
	}

	.wrapper-max-min-value, .seller-view {
		padding: 0;
	}

	#edit-maximum-price {
		padding-left: 8px !important;
		.price-value {
			letter-spacing: -2px;
		}
	}

	#edit-minium-price {
		padding-right: 15px !important;
		border-right: 1px solid @bidCarros-graycolor;
		.price-value, .price-prefix {
			margin-left: 5px;
			@media screen and (max-width: 767px) and (min-width: 140px) {
				margin-left: 0;
			}
		}
	}

	#edit-minium-price-text {
		.fa {
			padding: 0 15px !important;
			padding: 0 !important;
		}
		.price-value {
			letter-spacing: -2px;
		}
	}

	#edit-market-value-max, #edit-market-value-min {
		text-align: center !important;
	}

	@media @tablet-only {
		#edit-car, #edit-year, #edit-km-travell, #edit-minium-price-text  {
		}
		#edit-submit, #edit-close {
			font-size: 20px;
		}
	}
	#edit-minium-price-text {
		.price-prefix, .price-value{
			@media screen and (min-width: 1024px) and (max-width: 1190px) {
				padding: 0 15px;
			}
			@media screen and (max-width: 960px) and (min-width: 768px) {
				padding: 0 14px;
			}
		}
	}
	#edit-minium-price,
	#edit-maximum-price {
		.fa {
			@media screen and (max-width: 767px) and (min-width: 450px) {
				width: 9%;
				.price-prefix {
					margin: 0;
				}
			}
			@media screen and (max-width: 449px) and (min-width: 140px) {
				width: 16%;
			}
		}
	}
	#edit-minium-price, #edit-maximum-price,  #edit-minium-price-text, #edit-market-value-min, #edit-market-value-max, .form-item-my-offer {
		padding: 0;
		div[class^='col-'] {
			padding: 0;
			text-align: left;
		}
		.prefix-input{
			background-color: @white;
			padding: 10px 0;
			font-weight: bold;
			font-size: 24px;
			display: inline-block;
		}
		.price-prefix, .price-value{
			font-weight: bold;
			font-size: 24px;
			// @media screen and (min-width: 1024px) and (max-width: 1190px) {
			// 	font-size: 17px;
			// }
		}

		.fa {
			vertical-align: middle;
			padding: 0;
		}

		.fa-arrow-circle-up {
			color: @bidCarros-purple;
		}

		.fa-arrow-circle-down {
			color: @bidcarros-green;
		}

		.price-prefix, .prefix-input {
			color: @bidCarros-graycolor;
		}
	}

	.button-wrapper {
		text-align: right;
	}

	#edit-close {
		@media @tablet-only {
			margin-top: 0;
		}
	}
	#edit-edit, #edit-submit, #edit-close {
		display: inline-block;
		border: none;
		color: @white;
		font-size: 1.5em;
		padding: 0.8em 0 0.8em 1.8em;
		text-align: left;
		margin: 1.3em auto;
		text-transform: uppercase;
		// &:hover{
		// 	background: #004849;
		// }
	 //  display: inline-block;
		// background: @bidcarros-green;
		// border: none;
		// width: 30%;
		// color: @white;
		// margin-left: 2%;
	}

	.submit-info{
		width: 100% !important;
	}
	#edit-edit{
		width: 100%;
	}

	#edit-submit,
	#edit-close {
		float: right;
		// width: 30%;
	}
	input[disabled='disabled'] {
		background: @white;
		font-size: 1.3em;
		padding: 15px 20px;
		border-color: transparent;
	}

	.form-item-model {
		position: relative;
		i.fa {
			color: @bidCarros-purple;
			position: absolute;
			top: 35px;
			right: 10px;
		}
	}
	#map-canvas {
		display: block;
		width: 100%;
		height: 200px;
		text-align: center;
		margin-bottom: 10px;
	}

	@media screen and (max-width: 1190px) {
		.form-item-price, .form-item-car, .form-item-condition, .form-item-km-travell, .form-item-enviroment {
			width: 32%;
			display: inline-block;
		}
		#edit-minium-price {
			.info-car .price-prefix, .info-car .price-value {
				font-size: 11px !important;
			}
		}
	}

	@media screen and (max-width: 660px) {
		#edit-colour {
			padding-left: 0 !important;
		}
		.form-item-colour {
			#edit-colour .form-item.radio{
				display: block;
			}
		}
	}

	@media screen and (max-width: 398px) {
		#edit-optional-extras {
			.form-type-checkbox {
				display: block !important;
				white-space: nowrap;
			}
		}
	}

	@media screen and (max-width: 320px) {
		.form-item-condition, .form-item-km-travell, .form-item-enviroment {
			width: 100%;
		}
		.form-item-type-of-sheild {
			label {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}

form#form-sale-bid-detail {
	.info-car, .detail-car {
		background-color: @bidcarros-white;
		padding: 10px 10px 10px 15px;
		padding-bottom: 20px;
		margin-bottom: 20px;
		.form-type-item {
			:not(label) {
				font-weight: bold;
				font-size: 20px;
			}
		}
		.price-prefix {
			text-align: center;
		}
		.price-prefix, .price-value {
			font-size: 22px !important;
			// padding: 0;
		}

		div#edit-car {
			padding-right: 0;
		}

		div.no-logo#edit-logo {
			margin-top: 15px;
		}

		div#edit-logo,
		div#edit-car,
		div#edit-year,
		div#edit-km-travell,
		div#edit-minium-price-text {
			padding: 0;
			z-index: 1;
			img {
				height: 100%;
				margin: -10px 0;
			}
			img.no-logo {
				height: 50px;
			}

			@media all and (max-width: 768px) {
				img {
					margin: 0 auto;
					display: block;
				}
			}
		}
	}

	.detail-car {
		#edit-vehicle, #edit-fuel {
			padding-left: 0;
			padding-right: 0;
			@media @tablet {
				display: inline-block;
				padding-left: auto;
				padding-right: auto;
			}
			:not(label) {
				font-weight: bold;
				font-size: 20px;
			}
		}
		#edit-registration, #edit-bid-detail-color, #edit-body-type, #edit-gear {
			@media @tablet {
				display: inline-block;
			}
			padding-left: 0;
			padding-right: 0;
			:not(label) {
				font-weight: bold;
				font-size: 16px;
				word-break: break-all;
			}
		}
	}

	label {
		color: @bidCarros-graylighter !important;
	}

	#edit-minium-price-text {
		vertical-align: top;
		.fa {
			vertical-align: top;
			font-size: 30px !important;
		}
	}

	.form-group {
		margin-bottom: 0;
	}

	.first-div-car {
		padding: 10px;
		margin-bottom: 20px;
		border-bottom: solid 2px @bidcarros-lightgray;
		label {
			margin-bottom: 10px;
		}
	}

	#edit-purpose {
		margin-bottom: 20px;
	}

	.label-fieldset.text-black {
		color: black;
		border: none;
		margin-bottom: 0;
	}

	.form-item-observations {
		label {
			margin: 10px 0;
		}
		input {
			background: @bidcarros-lightgray;
			color: @gray-base;
			padding: 20px;
			font-weight: bold;
		}
	}

	.price-market {
		margin: 20px auto;
		float: none;
		.dot-line {
			height: 20px;
			text-align: center;
			font-weight: bold;
			font-size: 20px;
			border-bottom: 2px solid @gray;
		}
	}

	#edit-seller-avatar {
		vertical-align: middle;
		text-align: center;
		margin-top: 5%;
		img {
			border-radius: 100%;
			width: 130px;
			height: 130px;
		}
	}

	.canvas_map {
		margin-bottom: 20px;
	}

	.buyer-view {
		margin: 30px 0;
	}

	#edit-seller-name, #edit-seller-certification, #edit-telephone, #edit-mail-seller {
		:not(label) {
			font-weight: bold;
		}
	}
	#edit-date-create-bid-seller {
		text-align: right;
		margin-bottom: 30px;
		label{
			display: inline-block;
		}
		:not(label) {
			font-size: 18px;
			font-weight: bold;
		}
	}

	#edit-denounce {
		display: block;
		color: #ECB9B1;
		font-weight: bold;
		text-align: right;
	}
	#edit-distance-buyer-seller {
		img {
			display: block;
			width: 10%;
			height: auto;
			margin: 0 auto;
		}
		span {
			font-size: 25px;
			font-weight: bold;
			display: block;
			text-align: center;
			margin: 0 auto;
			background: @bidcarros-white;
			color: @bidCarros-graylighter;
			white-space: nowrap;
			float: none;
		}
	}

	.name-certification-wrapper {
		padding-bottom: 30px;
		margin-bottom: 30px;
		border-bottom: 2px solid @bidCarros-graycolor;
	}

	#edit-seller-avatar {
		text-align: center;
	}
}

body.page-user-sale-bid-detail {
	div[id^='close-modal'] {
		label {
			color: #000000 !important;
		}

		div.modal-body div.row {
			.radio label::after {
				background-color: @bidcarros-blue;
			}

			div.form-type-radio.form-item-color.form-item.radio {
				padding-top: 15px;
				padding-left: 35px;
			}
		}

		div.close-bid {
			text-align: center;
			margin: 10px;

			button#close-bid {
				width: 70%;
				font-size: 1.5em;
			}
		}
	}

	div[id^='reason-modal'] {
		div#reason-text {
			padding: 20px;
		}

		div.close-reason {
			text-align: center;
			margin: 10px;

			button#close-reason-form {
				width: 70%;
				font-size: 1.5em;
			}
		}
	}

	#edit-started-at, #edit-expired-at {
		display: none;
	}

	#block-system-main {
		position: relative;
	}
	.back-button {
		font-weight: bold;
		position: absolute;
		right: 0;
		top: 0;
		color: @gray-base;
	}

	.back-button:hover {
		cursor: pointer;
		text-decoration: none;
	}

	div.form-time {
		background-color: #ffffff;
		border-top: 2px solid #000000;
		margin: 10px 0;
		div.time-information {
			padding-left: 0;
			padding-bottom: 15px;
			div.expired-text {
				padding: 0;
				top: 10px;
				font-size: 1.6em;
				font-weight: bold;
			}

			div[id^='edit-time-expired'] {
				text-align: center;
				top: 10px;

				div.day {
					width: 30%;
				}

				div.day, div.hour, div.min, div.sec {
					span:last-child {
						display: block;
					}

					span:nth-child(1),
					span:nth-child(2) {
						font-size: 2.5em;
						font-weight: bold;
					}
				}

				// div.day {
				// 	span:nth-child(1) {
				// 		padding-left: 30%;
				// 	}
				// }

				div.hour, div.min {
					span:nth-child(2) {
						padding-left: 15%;
					}
				}
				div.sec.col-xs-3 {
					width: 20%;
				}
			}
		}

		div.progress {
			padding: 0;

			div[id^='edit-time-progress'] {
				width: 100%;
			}
		}

		div.start-at {
			padding-left: 0;
			font-weight: bold;
			color: @gray;
			margin-bottom: 10px;
		}
	}
}

form#form-bids-seller-info {
	#edit-seller-avatar {
		vertical-align: middle;
		text-align: center;
		margin-top: 5%;
		img {
			border-radius: 100%;
			width: 130px;
			height: 130px;
		}
	}
}

@media screen and (min-width: 140px) and (max-width: 766px){
	form#form-sale-bid-detail {
		div.form-time {
			div[id^='edit-time-expired'] {
				div.day, div.hour, div.min, div.sec {
					span:nth-child(1),
					span:nth-child(2) {
						font-size: 16px !important;
					}
				}
				div.day {
					padding: 0 !important;
				}
			}
		}
		.close-button {
			display: block !important;
		}
		#edit-submit, #edit-close {
			display: block;
			width: 100% !important;
			font-size: 14px !important;
		}

		#edit-minium-price {
			border: none;
		}

		#edit-maximum-price {
			padding-left: 0 !important;
		}

		.offer-label {
			margin-top: 20px;
		}
	}

	#form-bids-seller-info {
		button {
			margin-top: 10px;
		}
	}

	form#form-sale-bid-detail {
		.line-arrow-max-min {
			.line-max-min {
				width: 98%;
			}
			.fa-arrow-left {
				left: 0;
			}

			.fa-arrow-right {
				right: 15px;
			}
		}
		.price-market {
			.dot-line, #edit-market-value-min, #edit-market-value-max {
				padding: 0;
			}
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	form#form-sale-bid-detail {
		#edit-seller-avatar {
			text-align: left;
		}
		#edit-minium-price-text {
			margin-top: 2%;
			.fa {
				font-size: 30px !important;
			}
		}
		.info-car .price-prefix, .info-car .price-value {
			font-size: 18px !important;
		}
	}
}

@media screen and (max-width: 767px) and (min-width: 590px) {
	form#form-sale-bid-detail {
		#edit-minium-price-text {
			.price-prefix, .price-value {
				padding: 0;
			}
			.fa, .price-prefix {
				width: 5%;
			}
			.price-value {
				width: 20%;
			}
		}
	}
}

@media screen and (max-width: 590px) and (min-width: 140px) {
	#form-bids-seller-info {
		button {
			padding-left: 0.8em !important;
		}
		button,b {
			font-size: 20px !important;
		}
	}
	form#form-sale-bid-detail {
		#edit-minium-price-text {
			.price-prefix, .price-value {
				padding: 0 15px;
			}
			.fa {
				text-align: center;
			}
			.fa, .price-prefix {
				width: 6%;
			}
			.price-value {
				width: 30%;
			}
		}
	}
}

form#form-create-sale-bid {
	div#map-modal {
		input {
			border: 1px solid #ccc;
			border-radius: 5px;
		}
	}

	#edit-photos {
		@media screen and (max-width: 545px) {
			table {
				tr {
					td {
						display: none;
						&.preview, &.start, &.cancel, &.delete {
							display: table-cell;
						}
						&.preview {
							img, canvas { width: 99%; }
						}
						&.start, &.cancel, &.delete { width: 3% }
						&.delete { text-align: center }
					}
				}
			}
		}
	}
}

.modal-dialog {
	min-width: 290px;
	overflow: auto !important;
}
