body.page-user-change-password{
  form[id^='change-pwd-page-form'] {

    .form-type-password.form-item-current-pass.form-item.form-group,
    .form-type-password-confirm.form-item-pass.form-item.form-group {
      margin-top: 20px;
      input {
        height: 55px !important;

      }
      input, select {
        padding: 20px;
        border: none;
        font-size: 16px;
      }

    }


    .form-type-password-confirm.form-item-pass.form-item.form-group {
      // width: 100% !important;
      .form-item-pass-pass1{
        padding-left: 0;
      }
      .form-item-pass-pass2 {
        padding-right: 0;
      }
      .form-item-pass-pass1 .password-strength,
      .form-item-pass-pass2 div.password-confirm,
      .password-suggestions.description {
        display: none !important;
      }
    }

    button[name^='op']{
      background-color: #3f9ea0;
      border: none;
      width: 40%;
      height: 70px;
      font-size: 23px;
      text-align: left;
      color: @white;

      span.fa {
        font-size: 25px;
      }
      &:hover{
        background: @btn-info-bg-hover;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  body.page-user-change-password{
    form[id^='change-pwd-page-form'] {
      .form-type-password.form-item-current-pass.form-item.form-group{
        padding: 0 15px;
      }
      .form-type-password-confirm.form-item-pass.form-item.form-group {
        padding: 0;
        .form-item-pass-pass1, .form-item-pass-pass2 {
          padding: 0 15px;
        }
      }

    }
  }
}

@media only screen
and (min-width: 768px)
and (max-width: 1024px) {
  body.page-user-change-password{
    form[id^='change-pwd-page-form'] {
      .form-type-password-confirm.form-item-pass.form-item.form-group {
        display: block !important;
        width: 100% !important;
      }
    }
  }
}
