// Insert your styling here.
#content  {
  min-height: 300px;
  > .container {
    background-color: @bidcarros-lightgray;
    margin: 2em auto;
    padding: 1.5em;
  }
  h1.title, h2.title {
    .page-header;
  }
  .main-container {

  }
}
