form#contact-site-form {

  .contact-submit button.form-submit {
    background-color: @bidcarros-cyan;
    width: 35%;
    height: 65px;
    float: right;
    font-size: 22px;
    text-align: left;
    color: @white;
    margin: 3px 0px 10px 0px;

    span.fa {
      font-size: 25px;
    }
  }
}

form#webform-client-form-23,
form#webform-client-form-24, {

  div.webform-component-markup,
  div.webform-component-textfield,
  div.webform-component-email,
  div.webform-component-textarea {
    margin-bottom: 25px;
  }

  button.webform-submit {
    margin-top: 15px;
    background-color: @bidcarros-cyan;
    width: 35%;
    height: 65px;
    float: right;
    font-size: 22px;
    text-align: left;
    color: @white;
    margin: 3px 0px 10px 0px;

    span.fa {
      font-size: 25px;
    }
  }
}