ol.breadcrumb{
  padding: 8px 10px;
  margin-bottom: 2px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 0px;
}
.menu-action{
  a {
    display: block;
    width: 100%;
    text-align: center;
  }
}
.main-container{
  table .checkbox input[type="checkbox"]{
    opacity: 1;
  }
  #edit-filters{
    .form-item-role,.form-item-permission,.form-item-status {
      margin: 0 20px 15px 20px !important;
    }
    .form-submit.btn-default{
      padding: 15px 45px;
      border-radius: 5px;
      background-color: #009da0;
      color: #fff;
      border-color: #008487;
    }
    .form-actions{
      float: right;
    }
  }
  #edit-options{
    .panel-body{
      display: table;
      select{
        margin-right: 10px;
      }
      button{
        padding: 10px 30px;
        border-radius: 5px;
      }
    }

  }
}
div.error, table tr.error {
  background: none;
  color: red;
}

.error {
  color: red;
}
