// Insert your styling here.
.footer {
  width: 100%;
  margin-top: 0;
  .no-border;
  color: @white;
  font-size: 1em;
  @media @wide {
    // font-size: 1.3em;
  }
  font-weight: 600;
  .bg-green;
  padding-top: @padding-large-vertical * 3;
  padding-bottom: 0;
  .row {
    div[class^="col-"] {
      @media @wide {
        padding-left: 0;
        padding-right: 0;
      }
    }
    margin-bottom: @padding-large-vertical;
    // border-bottom: 1px solid @bidcarros-darkgreen;
    &:last-child {
      .no-border;
      .no-padding;
      margin-bottom: 0!important;
    }
  }
  .navbar {
    .no-padding;
    .no-margin;
    .bg-transparent;
    li {
      display: block;
      @media @wide {
        display: inline-block;
        padding-right: @padding-large-vertical * 3;
      }
    }
  }
  .region-footer-left {
    padding-bottom: @padding-large-vertical;
    @media @wide {
      padding-bottom: @padding-large-vertical * 2;
    }
  }
  .region-footer-right {
    text-align: center;
    min-height: 85px;
    p {
      display: inline-block;
      a {
        display: block;
        &:after {
          content: '';
          display: block;
          margin-top: 10px;
          width: 100%;
          height: 4px;
          background-color: @bidcarros-darkgreen;
          border-radius: 5px;
        }
        // &:hover {
        //   text-decoration: none;
        // }
      }
    }
  }
  a {
    color: @white;
    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }
  }
  .footer-social {
    > div {
      img.logo {
        height: 3em;
      }
      &.social-icon {
        a {
          line-height: 3em;
        }
        .fa:before {
          width: 2.2em;
          height: 2.2em;
          background-color: @bidcarros-darkgreen;
          border-radius: 5em;
          text-align: center;
          line-height: 2.2em;
          margin-left: 1.5em;
          display: block;
          &:hover {
            opacity: 0.7;
          }
        }
        ul.social-list{
          list-style: none;
          float: right;
          margin: 0 auto;
          li.social-list-item{
            float: left;
          }
        }
      }
    }
  }
  .footer-copyright {
    width: 100%;
    max-width: 100%;
    background: @bidcarros-darkgreen;
    text-align: center;
    padding: 1em 0;
    font-size: 1.2em;
  }

  .row.footer-nav {
    ul li {
      list-style-type: none;
      &.first {
        margin-bottom: 10px;
      }
      a.first-submenu-footer {
        font-weight: bold;
        opacity: 1;
        margin-bottom: 10px;
      }
      a.first-submenu-footer:hover {
        opacity: 0.7;
      }
      a {
        opacity: 0.7;
      }
      a:hover {
        opacity: 1;
      }
    }
    ul.sub-list{
      li.sub-item{
        .item-plus{
          display: none;
        }
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
  .footer{
    .footer-social{
      > div {
        &.social-icon {
          .fa:before {
            margin-left: 0.5em;
          }
        }
      }
    }
    .footer-nav{
      .open-div {
        span.glyphicon.glyphicon-plus.item-plus {
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
      ul.sub-list{
        padding-left: 0;
        li.sub-item{
          border-top: 1px solid #18A887;
          padding-top: 0.6em;
          .item-plus{
            display: block !important;
            float: right;
            top: 5px;
          }
        }
        li.sub-item-list{
          display: none;
        }
      }
    }
    .footer-left{
      border-top: 1px solid #18A887;
      padding-top: 1em;
    }
  }
}
@media screen and (max-width: 767px) and (min-width:483px){
  .footer{
    .footer-social{
      > div {
        img.logo {
          height: 2.5em;
        }
        &.social-icon {
          a {
            line-height: 2.8em;
          }
          .fa:before {
            margin-left: 0.4em;
            width: 2.0em;
            height: 2.0em;
            line-height: 1.9em;
          }
          ul.social-list{
            width: 111%;
          }
        }
      }
    }
    .footer-left{
      border-top: 1px solid #18A887;
      padding-top: 1em;
    }
    .footer-nav{
      ul.sub-list{
        padding-left: 0;
        li.sub-item{
          border-top: 1px solid #18A887;
          padding-top: 0.6em;
          .item-plus{
            display: block !important;
            float: right;
            top: 5px;
          }
        }
        li.sub-item-list{
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 482px) and (min-width:400px){
  .footer{
    .footer-social{
      > div {
        img.logo {
          height: 2.4em;
        }
        &.social-icon {
          a {
            line-height: 2.8em;
          }
          .fa:before {
            margin-left: 0.3em;
            width: 1.8em;
            height: 1.8em;
            line-height: 1.9em;
          }
          ul.social-list{
            width: 130%;
          }
        }
      }
    }
    .footer-nav{
      ul.sub-list{
        padding-left: 0;
        li.sub-item{
          border-top: 1px solid #18A887;
          padding-top: 0.6em;
          .item-plus{
            display: block !important;
            float: right;
            top: 5px;
          }
        }
        li.sub-item-list{
          display: none;
        }
      }
    }
    .footer-left{
      border-top: 1px solid #18A887;
      padding-top: 1em;
    }
  }
}
@media screen and (max-width: 399px) and (min-width:250px) {
  .footer{
    .footer-social{
      > div {
        img.logo {
          height: 2em;
          width: 7em;
        }
        &.social-icon {
          a {
            line-height: 2.5em;
          }
          .fa:before {
            margin-left: 0.2em;
            width: 1.6em;
            height: 1.6em;
            line-height: 1.7em;
          }
          ul.social-list{
            width: 140%;
          }
        }
      }
    }
    .footer-left{
      border-top: 1px solid #18A887;
      padding-top: 1em;
    }
    .footer-nav{
      ul.sub-list{
        padding-left: 0;
        li.sub-item{
          border-top: 1px solid #18A887;
          padding-top: 0.6em;
          .item-plus{
            display: block !important;
            float: right;
            top: 5px;
          }
        }
        li.sub-item-list{
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .footer{
    .footer-nav{
      .open-div {
        span.glyphicon.glyphicon-plus.item-plus {
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }
  }
}