.header {
  background-color: @bidcarros-blackgreen;
}
// Nav. bar
#navbar {
  @media @normal-only {
    max-width: 100%;
    width: 100%;
  }
  background-color: transparent;
  margin: 0 auto;
  a {
    margin-top: 0;
    margin-bottom: 0;
  }
  .logo {
    height: 100px;
    img {
      padding-top: 1em;
      padding-bottom: 1em;
      max-height: 100px;
      @media @tablet-only {
        max-width: 200px;
      }
    }
  }
  ul.menu  {
    float: right;
    @media @normal-only {
      float: none!important;
      display: block;
      li {
        a, .btn {
          padding: 1em 1em 1em 0.6em;
        }
        &:hover {
          // background-color: @bidcarros-blackgreen;
        }
      }
    }
    li {
      font-family: @bidcarros-font-name-2nd;
      @media @normal {
        border-top: 10px solid transparent;
        // border-bottom: 10px solid transparent;
        a {
          height: 100%;
          color: #fff;
          line-height: 80px;
          height: 90px;
          padding-top: 0;
          padding-bottom: 0;
          font-size: 1.1em;
          z-index: 1;
          background-color: transparent!important;
          &:hover {
            color: #fff;
          }
        }
        &.active {
          // border-top-color: @bidcarros-blue;
          background-color: rgba(255, 255, 255, 0.25);
        }
        position: relative;
        &:after {
          content: "";
          position: absolute;
          height: 0;
          width: 100%;
          top: 0;
          z-index: 0;
          background-color: rgba(255, 255, 255, 0.25);
        }
        &:hover {
          border-top-color: rgba(255, 255, 255, 0.25);
          &:after {
            height: 100%;
            transition: height 0.2s linear;
          }
        }
      }
      a.dropdown-toggle .caret, ul.dropdown-menu {
        display: none;
      }
      &#quero-comprar {
        border-top-color: @bidcarros-blue;
        &:after {
          background-color: @bidcarros-blue;
        }
        &.active {
          background-color: transparent;
        }
      }
      &#quero-vender {
        border-top-color: @bidcarros-green;
        &:after {
          background-color: @bidcarros-green;
        }
        &.active {
          background-color: transparent;
        }
      }
    }
  }
  .navbar-toggle {
    right: 3%;
    margin-top: 31px;
    margin-right: 0;
    border: none;

    span.icon-bar {
      background-color: @white;
    }
  }
  .navbar-toggle:hover, .navbar-toggle:hover {
    background: none;
  }
}
// Page header title
#page-header-title {
  font-family: @bidcarros-font-name-2nd;
  background-color: @bidcarros-blue;
  * {
    color: @gray-lighter;
  }
  a:hover {
    text-decoration: none;
  }
  padding: 1em 0;
  .text-left {
    font-size: 1.1em;
  }
  // Check if parent has class
  body.page-search-car &, body.page-seller &, body.page-seller-info & {
    background-color: @bidcarros-green;
  }
}

// Breadcrumbs
#breadcrumbs {
  .container {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    .bg-gray-lighter;
    a {
      color: @gray;
    }
  }
}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen
and (min-width: 768px)
and (max-width: 1024px)
{
  .menu.nav.navbar-nav {
    li {
      display: inline-block;
    }
  }
}

@media only screen and (min-width: 140px) and (max-width: 767px) {
  // Nav. bar
  #navbar {
    .navbar-collapse {
      position: relative;
      z-index: 999;
      background-color: rgba(10, 1, 1, 0.8);
      a:hover {
        background: rgba(68, 71, 90, 0.8);
      }
    }
  }
}
