// [TaiNB]: create myprofile.less

	//## custom my profile


  body.page-user-edit{
    .header-form-register{
      width: 100%;
      height: 80px;
      display: table;
      border-bottom: 1px solid #0387ee;
      margin-bottom: 20px;
      h3{
        margin: 0 !important;
      }
      h2.title{
        width: 50%;
        margin: 0px !important;
        border: none !important;
        float: left;
      }
      .text {
        font-size: 18px;
      }
      .hybridauth-widget-wrapper{
        width: 30%;
        height: 70px;
        float: right;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        .hybridauth-widget{
          width: 100%;
          margin: 0 !important;
        }
      }
    }

    #content{
      background: none;
      .field .field-label {
       display: inline-block;
     }

     .field .field-items{
       display: inline-block;
     }

     .image-widget .image-preview img{
       border-radius: 50%;
       width: 130px;
       height: 130px;
     }

     div.image-widget-data {
       text-align: center;
       float: none;
      // input#edit-field-photo-und-0-upload,
      // button#edit-field-photo-und-0-remove-button,
      // button.btn.btn-default.form-submit,
      .file,
      .file-size {
      	display: none;
      }
    }

    form[id^='user-profile-form'], form[id^='user-register-form'] {
    	margin: 10px 20px;
      fieldset[id^='edit-locale'] {
        display: none;
      }
      .form-item-name,
      .form-type-password.form-item-current-pass,
      .form-type-password-confirm.form-item-pass {
        display: none;
      }
      .navbar-collapse.collapse {
        float: right;
      }

      .field-name-field-complement,
      .field-name-field-phone {
        vertical-align: top;
      }

      .field-name-field-lat, .field-name-field-lng {
        display: none;
      }
    }

    form#user-register-form {
    	.form-type-password.form-item-current-pass,
    	.form-type-password-confirm.form-item-pass {
    		display: block;
    	}
    }

    .form-wrapper.form-group, .form-item.form-group {
    	.form-wrapper.form-group, .form-item.form-group {
    		width: 100%;
    	}
    	display: inline-block;
    	width: 48%;
    	margin: 2% 1% 2%;
    	input, select {
    		padding: 20px;
    		width: 100%;
    		border: none;
    		font-size: 16px;
    	}
    	.help-block {
    		display: none;
    	}
    }

    .field-type-image.field-name-field-photo.field-widget-image-image{
    	float: right;
    	.image-preview{
    		float: none;
    		text-align: center;
    	}
    }

    div[id^='edit-actions'] {
    	display: block !important;
    	text-align: right;
    	width: 100% !important;
    	button[id^='edit-submit']{
    		background-color: @bidcarros-cyan;
    		border: none;
    		width: 40%;
    		height: 70px;
    		font-size: 23px;
    		text-align: left;

    		span.fa.fa-angle-right {
    			font-size: 30px;
    		}
        &:hover{
          background-color: @btn-info-bg-hover
        }
      }
    }
    .canvas_map{
    	margin-bottom:  10px;
    	#map-canvas {
    		display: block;
    		width: 100%;
    		height: 250px;
    		margin: 10px;
    	}
    	span{
    		vertical-align: middle;
    	}
    }

    .navbar-default .navbar-nav > li > a {
    	color: @white;
    }

    .checkbox.checkbox-circle {
    	ouline: none;
    }
  }

  #content .container .row {
  	background-color: @bidcarros-lightgray;
  }

  #alert-modal {

  	div.modal-dialog {
  		width: 450px;
  	}

  	.modal-content {
  		.modal-body {
  			padding: 8%;

  			.modal-message {
  				font-size: 19px;
  			}
  		}

  		div.footer-btn a {
  			margin-top: 10%;
  			width: 100%;
  			height: 60px;
  			font-size: 23px;
  			color: @white;
  			background-color: @bidcarros-cyan;
        &:hover{
          background-color: @btn-info-bg-hover;
        }
      }
    }
  }
}

@media screen and (max-width: 370px) {
div[id^='edit-actions'] {
  button {
    font-size: 16px !important;
    span {
      font-size: 20px !important;
    }
  }
}
}
