body.page-user {
  #page-header-title {
    background-color: @gray-lighter;
    * {
      color: @gray;
    }
  }
  #content  {
    > .container {
      background-color: transparent;
      .no-padding;
      overflow: hidden;
      .row {
        background-color: transparent;
      }
      #main-content {
        padding: 1.5em;
        background-color: @bidcarros-lightgray;
        fieldset{
          display: none;
        }
      }
    }
  }
  // Sidebar
  #sidebar {
    .no-padding;
    .row {
      margin-bottom: @padding-large-vertical;
      .btn {
        .no-border;
        margin-bottom: @padding-base-vertical;
        text-align: left;
        &.bg-gray-lighter:hover {
          .bg-gray-lighter;
        }
        &.bg-gray-light:hover {
          .bg-gray-light;
        }
      }
      .btn-purchase-list a,.btn-sale-list a{
        background: #b4b1aa;
        &:hover{
          background: #a4a19a;
        }
      }
      .btn-buyer-bid{
        a{
          background: @btn-bidcarros-buyer-normal;
          &:hover{
            background: @btn-bidcarros-buyer-hover;
          }
        }
      }
      .btn-seller-bid{
        a{
          background: @btn-bidcarros-seller-normal;
          &:hover{
            background: @btn-bidcarros-seller-hover;
          }
        }
      }
    }
    .widget {
      background-color: @gray-lighter;
      border-bottom: 3px solid @gray-light;
      padding: 1.5em;
      color: @gray;
      h3 {
        font-size: 1.2em;
        border-bottom: 3px solid @white;
        padding-bottom: 1.2em;
        margin-bottom: 1.2em;
      }
      .nav-menu {
        display: none;
      }
      .menu {
        list-style: none;
        .no-padding;
        .no-margin;
        li {
          font-size: 1.2em;
          padding: 0.3em 0;
          a {
            color: @gray;
            font-weight: bold;
          }
          &:before {
            content: "";
            font-family: "FontAwesome";
            padding-right: 0.8em;
          }
        }
      }
    }
  }
  // Footer
  .footer {
    margin-top: @padding-large-vertical;
  }
}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen
and (min-width: 768px)
and (max-width: 1024px)
{
  body.page-user {
    #breadcrumbs .container, #breadcrumbs a{
      background: #0088EE;
      color: @white;
    }
    .row {
      #sidebar {
        .container-fluid {
          .widget {
            h3.user-name-area {
              display: none;
            }
            .nav-menu {
              display: block;
            }
            &.open{
              height: 120px;
              .dropdown-backdrop {
                display: none;
              }
              .menu-profile-text-title {
                display: none !important;
              }
              .nav-menu{
                .fa-angle-down {
                  -webkit-transform: rotate(180deg);
                  -ms-transform: rotate(180deg);
                  transform: rotate(180deg);
                }
                ~ ul.menu {
                  display: block;
                }
              }
            }
            a.nav-menu {
              cursor: pointer;
              font-size: 20px;
              font-weight: bold;
              color: @bidCarros-graycolor;
              display: block;
            }
            ul.menu {
              display: none;
              border-top: solid 2px @white;
              margin-top: 10px !important;
              margin-left: -25px !important;
              margin-right: -25px !important;
              position: relative;
              height: 60px;
              li {
                position: absolute;
                bottom: 10px;
                &:nth-child(1) {
                  left: 30px !important;
                }
                &:nth-child(2) {
                  left: 50%;
                  -webkit-transform: translateX(-50%);
                  -ms-transform: translateX(-50%);
                  transform: translateX(-50%);
                }
                &:nth-child(4) {
                  right: 0px;
                }
              }
            }
          }
        }
      }
      .col-md-12.col-sm-3 {
        a {
          strong, span {
            display: block;
          }
          .fa {
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}
