body {
  min-width: 290px;
  overflow: auto !important;
}

body.front {
  #navbar {
    width: 100%;
    max-width: 100%;
    background-color: rgba(3, 46, 65, 0.5);
    > .container {
      margin: 0 auto;
      max-width: 1140px;
      ul.menu {
        // li {
        //   &:hover {
        //     border-top-color: @bidcarros-green;
        //   }
        // }
        a {
          color: @white;
          &:hover {
            color: @white;
            z-index: 1;
          }
        }
      }
    }
  }
  ul.secondary {
    float: left;
  }
  /* Quick Action Nav. */
  ul.quickaction {
    li {
      border-color: transparent!important;
      &:hover {
        opacity: 0.7;
      }
      a {
        .no-padding;
      }
      .btn {
        padding: 1.3em;
        padding-left: 0.6em;
        @media @normal {
          width: 130px;
          white-space: pre-line;
        }
        width: 100%;
        font-size: 1.3em;
        text-align: left;
        text-transform: uppercase;
        font-size: 1em;
        .fa {
          @media @normal {
            right: 5%;
            margin-top: -20px;
          }
          font-size: 2.5em;
          margin-top: -10px;
          right: 1%;

        }
      }
    }
  }
  .header {
    width: 100%;
    height: 100%;
    background: url("../img/bg_homepage_1st.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    z-index: 30;
    min-height: 700px;
    .navbar.container {
      margin-top: 0;
    }
  }
  #search-car {
    position: absolute;
    top: 250px;
    z-index: 11;
    color: #fff;
    .hr {
      max-width: 50px;
      min-width: 50px;
    }
    .dropdown-menu {
      // height: 200px;
    }
    .tooltip {
      &.bottom {
        padding-top: 1em;
        .tooltip-arrow  {
          border-bottom-color: @bidcarros-green;
        }
      }
      .tooltip-inner {
        padding: 1em;
        background-color: @bidcarros-green;
        color: @gray-dark;
        border-radius: 5px;
      }
      .tooltip-arrow {
        border-width: 0 5px 1em;
      }
    }
    form {
      .search-car-form;
      margin-top: 1.5em;
      margin-bottom: 1.5em;
      label {
        .hidden;
      }
      .input-group {
        width: 100%;
      }
      .input-group-addon:hover {
        cursor: default;
      }
      #btnCreateBID {
        background-color: @btn-bidcarros-buyer-normal;
        color: @white!important;
        font-size: 20px;
        padding-right: 50px;
        text-transform: uppercase;
        @media @tablet-only {
          font-size: 0;
          .fa {
            right: 35%;
            font-size: 40px;
            top: 5%;
          }
        }
        &:hover {
          cursor: pointer;
          background-color: @btn-bidcarros-buyer-hover;
        }
      }
      #search-results {
        .no-margin;
        .wrapper {
          padding-top: 2em;
          font-size: 8px;
          .fa {
            font-size: 4em;
            vertical-align: top;
          }
          .fa-map-marker {
            font-size: 30px;
            vertical-align: middle;
            &.lock-icon {
              font-size: 20px;
              vertical-align: top;
              &:before {
                background-image: url("../img/lock_icon.png");
              }
            }
          }
          .fa-caret-up, .fa-caret-down {
            padding-left: 5px;
            font-size: 3em;
            vertical-align: bottom;
          }
          .ctn {
            vertical-align: bottom;
            color: #fff;
            small {
              font-size: 70%;
              position: relative;
              top: -3px;
            }
          }
          #num_of_offer .ctn {
            vertical-align: middle;
          }
        }
      }
    }
  }
  .facebook-share-wrapper {
    position: absolute;
    top: 666px;
    left: 0;
    right: -50%;
    margin: 0 auto;
    width: 100px;
    z-index: 111;
  }
  #content {
    width: 100%;
    > .container {
      background-color: @bidcarros-lightgray;
    }
    #main {
      color: @gray;
      padding-bottom: 6em;
      font-size: 18px;
      .col-md-6 {
        @media @phone {
          margin-top: 1em;
        }
      }
      h1.title {
        color: @bidcarros-blue;
        border-bottom: 1px solid @bidcarros-blue;
        line-height: 3em;
        font-size: 1.5em;
        margin-bottom: 1.5em;
      }
      button.btn {
        font-weight: bold;
        padding: 1em 0;
        font-size: 1.5em;
      }
      .strong {
        color: @bidcarros-green;
        text-transform: uppercase;
        font-size: 1.5em;
        strong {
          display: block;
          font-size: 2.5em;
          line-height: 2em;
          font-weight: normal;
        }
      }
      hr {
        height: 0.4em;
        width: 10%;
        margin: 0.6em 0;
        background-color: @bidcarros-green;
        display: block;
      }
      p {
        font-size: 1.2em;
      }
    }
    #total-bid-section {
      background-image: url("../img/bg_homepage_2nd.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      @media @tablet-only {
        font-size: 8.5px;
      }
      color: @gray-lighter;
      padding: 14em 0;
      // @media @normal {
      //   padding: 10em 0;
      // }
      h1.title {
        font-size: 7em;
        color: @bidcarros-green;
        font-weight: bold;
        margin-bottom: 0;
        .no-border;
      }
      p {
        font-size: 3em;
        display: inline-block;
      }
      .hr {
        max-width: 70px;
        min-width: 70px;
        background-color: @bidcarros-blue;
        height: 6px;
        border: 0 none;
      }
    }
    /**
    * TaiNB making frontend
    **/
    #cataloge-carros-wrapper {
      background: @bidcarros-green url("../img/car_bg.jpg") no-repeat top center;
      background-size: cover;
      position: relative;
      height: 641px;
      .cataloge-introduce {
        padding: 2% 7% 0;
        margin-left: 18%;
        margin-bottom: 30%;
        h2, span {
          color: @white;
        }
        h2 {
          margin-bottom: 30px;
          font-size: 40px;
        }
        span {
          font-weight: bold;
        }
      }
      .cataloge-slideshow {
        background: #002842;
        position: absolute;
        bottom: 0;
        right: 10%;
        padding: 20px 0 0;
        height: 90%;
        h3 {
          margin: 0 10px;
        }
        p {
          font-weight: bold;
        }
        h3, p {
          color: @white;
          margin-left: 10px;
        }
        .hr {
          margin: 5px 10px;
          background-color:@bidcarros-blue;
          .no-border;
        }

        .line-triangles_dark {
          height: 10px;
          display: block;
          width: 100%;
          background: url("../img/2_triangles_dark_blue.png") repeat-x;
          margin-bottom: 10px;
          position: absolute;
          top: -10px;
        }
      }
    }

    #introductory-area {
      background: @bidcarros-green;
      display: table;
      .full-width;
      .image-mobile-device-wrapper {
        text-align: center;
        @media @tablet {
          float: none;
          display: table-cell;
          vertical-align: middle;
          padding: 5em;
        }
        // @media @tablet and @normal-only {
          @media screen and (min-width: 768px) and (max-width: 992px) {
            padding: 1em 0 0;
          }
          img {
            width: 100%;
            max-width: 420px;
            margin: 0 auto;
          }
        }

        .introduction-text-wrapper {
          @media @tablet {
            display: table-cell;
            float: none;
            padding: 3em 6em 3em 0;
          }
          @media screen and (min-width: 768px) and (max-width: 992px) {
            padding: 1em;
          }
          h2, p {
            color: @white;
          }
          p {
            font-weight: bold;
            text-align: justify;
            margin-bottom: 40px;
          }
          h2 {
            margin-bottom: 30px;
            font-size: 40px;
          }
        }
      }

      #device-mobile {
        background: #E4E5E0;
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
        .line-2-triangles-green {
          display: block;
          height: 21px;
          background: url("../img/2_triangles.png") repeat-x;
        }
        .computing-image {
          padding-left: 4%;
          img {
            vertical-align: top;
            margin-bottom: 300px;
          }
        }
        .mobile-touch {
          padding-right: 4%;
          img {
            margin-top: 300px;
            vertical-align: bottom;
          }
        }

        .qrcode-wrapper {
          margin: 20px 0;
          p {
            color: #022D40;
            font-weight: bold;
            font-size: 20px;
            text-align: center;
            margin-bottom: 50px;
          }
          img {
            width: 50%;
            margin: 0 auto;
            display: block;
            margin-top: 20px;
          }
          img.icon-app-mobile {
            width: 70%;
          }
        }

        img {
          width: 100%;
        }
        .logo-partner {
          background: #ffffff;
          margin-top: 10px;
          position: relative;
          img {
            display: block;
            margin: 10px auto;
            width: 50%;
          }
          ul {
            list-style-type: none;
            display: block;
            position: absolute;
            width: 50%;
            height: auto;
            padding: 0;
            top: 0;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            margin: 10px auto;
            li {
              padding: 0;
              a {
                display: block;
                width: 100%;
                height: 73px;
              }
            }
          }
        }
      }
    }
    #cataloge-carros-wrapper {
      .cataloge-slideshow  {
        .iframe_wrapper {
          /*overflow: scroll;*/
          -webkit-overflow-scrolling: touch;
          height: 450px;
          iframe {
            height: 450px !important;
          }
        }
      }
    }
    @media screen and (min-width: 1170px) and (max-width: 1366px) {
      #cataloge-carros-wrapper {
        .cataloge-introduce {
          padding: 0 7% 0 !important;
          margin-left: 17% !important;
          span {
            display: block;
          }
        }
      }
      #introductory-area {
        .image-mobile-device-wrapper {
          margin-top: 4%;
        }
      }
    }
    @media screen and (min-width: 900px) and (max-width: 1130px) {
      #cataloge-carros-wrapper {
        .cataloge-introduce {
          padding: 0 4% 5%!important;
          margin-left: 15%!important;
        }
      }
    }

    @media screen and (max-width: 899px) {
      #cataloge-carros-wrapper {
        background: @bidcarros-green !important;
        .cataloge-introduce {
          .full-width;
          padding: 5% 7% 7% !important;
          margin-left: 1% !important;
          margin-bottom: 0!important;
        }
        .cataloge-slideshow  {
          .full-width;
          position: relative !important;
          right: 0!important;
          .line-triangles_dark {
            top: -10px;
            margin: 0;
          }
        }
        .cataloge-slideshow {
          height: 65% !important;
          .iframe_wrapper {
            overflow: hidden;
            -webkit-overflow-scrolling: touch;
            height: 300px;
            iframe {
              height: 300px !important;
            }
          }
        }
      }

      #device-mobile {
        .computing-image {
          img {
            margin-bottom: 0px !important;
          }
        }
        .mobile-touch {
          img {
            margin-top: 0px !important;
          }
        }
        .logo-partner {
          margin-top: 0px !important;
        }
      }
    }
  }

  @media screen and (max-width: 1024px) and (min-width: 140px) {
    body.front {
      #device-mobile {
        .logo-partner {
          ul {
            height: 100% !important;
            margin: 0px auto !important;
            li {
              padding: 0;
              height: 100%;
              a {
                height: 100% !important;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 460px) and (min-width: 140px) {
    body.front {
      #search-car {
        top: 190px !important;
      }
    }
  }