body.not-front {
  #navbar {
    a {
      color: #fff;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  .alert-block .error {
    color: #A94442;
    font-weight: normal;
    margin-bottom: 0!important;
  }
  // #hybridauth-additional-info-form{
  //   .form-actions#edit-actions{
  //     button{
  //       border-color:  @btn-info-border;
  //       background-color: @bidcarros-cyan;
  //       &:hover{
  //         background-color: @btn-info-bg-hover;
  //       }
  //     }
  //   }
  // }
}

body.page-search-car,
body.page-buyer-search-car {
  #form-search-car {
    .search-car-form;
    label {
      .hidden;
    }
    #btnCreateBID {
      background-color: @bidcarros-cyan;
      color: #fff !important;
      font-size: 20px;
      padding-right: 50px;
      text-transform: uppercase;
      &:hover{
        background-color:@btn-info-bg-hover;
      }
    }
  }
}

/** Some common class */
.search-car-form {
  .dropdown-menu {
    max-height: 270px;
    min-height: 40px;
    overflow-y: auto;
  }
  .input-group {
    margin-top: 20px;
  }
  .form-control {
    border-color: transparent;
    color: @bidcarros-blue;
    font-size: 22px;
    box-shadow: none;
    &:focus {
      box-shadow: none;
    }
  }
  .input-group-addon {
    border-color: transparent;
    background-color: #fff;
    font-size: 24px;
    &:hover {
      cursor: pointer;
    }
  }
  button[type='submit'] {
    .hidden;
  }
}

.price-with-icon {
  .fa.col-md-3.col-sm-3 {
    padding: 0;
  }
  .txt {
    padding: 0 10px;
  }
  .ctn, .prefix {
    font-size: 21px;
    @media screen and (max-width: 1170px) and (min-width: 993px) {
      font-size: 19px;
    }
    font-weight: bold;
    padding-left: 10px;
    color: @gray-darker;
    display: inline-block;
  }
  .fa {
    font-size: 3.5em;
    &.fa-arrow-up,
    &.fa-arrow-circle-up {
      color: @bidcarros-blue;
    }
    &.fa-map-marker {
      font-size: 40px;
      vertical-align: bottom;
      &:before {
        content: '';
        display: block;
        width: 1.2em;
        height: 1.6em;
        background-image: url('../img/ofertas-disponibles.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
    }
    &.fa-arrow-down,
    &.fa-arrow-circle-down {
      color: @bidcarros-green;
    }
  }
}
.tbl-bids-list {
  .container-fluid {
    overflow: hidden;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }

  @media all and (min-width: 768px) and (max-width: 1200px) {
    .row {
      display: table;
      width: 100%;
    }
    div[class^="col-"] {
      // padding-left: 0;
      // text-align: right;
      display: table-cell;
      vertical-align: middle;
      float: none;
      word-break: break-word;
      &.bid-rate {
        white-space: nowrap;
      }
      &.bid-price {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  .row {
    border-bottom: 1px solid @gray;
    padding-top: 15px; // allow showing .two-lines width -margin
    padding-bottom: 15px;
    background-color: #fff!important;
    .price-with-icon;
    .prefix, .ctn, .fa {
      font-size: 15px;
      @media @tablet {
        vertical-align: top;
      }

    }
    &.heading {
      background: @bidcarros-gray-light!important;
      font-weight: bold;
      > div[class^='col-'] {
        text-align: center;
        padding-left: 15px!important;
        font-size: 1.15em!important;
        &.bid-thumbnail {
          padding-left: 5px!important;

          @media screen and (min-width: 992px) {
            padding-left: 0px !important;
          }
        }
      }

      > div.up-and-down {
        padding-left: 0 !important;
        text-align: left;
      }
    }
  }
  @media @normal {
    .row {
      display: table;
      padding-top: 0;
      padding-bottom: 0;
      width: 100%;
      > div[class^='col-'] {
        display: table-cell;
        padding-top: 10px;
        padding-bottom: 10px;
        float: none;
        vertical-align: middle;
        &.bid-thumbnail {
          padding: 0!important;
        }
        &.bid-title {
          span {
            font-size: 18px;
          }
        }
        &.related-bid-count {
          width: 14.6667%;
          padding-right: 0;
          .ctn {
            font-size: 24px;
            padding: 0;
          }
        }
        &.bid-expired {
          font-weight: bold;
          text-align: left;
        }
        &.bid-price {
          padding-right: 0;
          .fa {
            font-size: 20px;
            vertical-align: middle;
            margin-top: 2px;
          }
          span {
            letter-spacing: -1.5px;
            font-size: 17px;
          }
        }
        &.up-and-down {
          font-size: 1em;
          width: 20.6667%;
          font-weight: bold;
          span { letter-spacing: -1.5px; }
          .fa { vertical-align: middle; }
        }
      }
    }
  }
  .bid-price {
    font-size: 15px;
    // @media @wide {
    //   width: 19.6667%;
    // }
    .prefix {
      color: @gray;
    }
    .ctn {
      padding-left: 0;
    }
  }
  .up-and-down {
    // @media @wide {
    //   // width: 13.6667%;
    //   // margin-top: -10px;
    // }
    font-size: 0.9em;
    padding-right: 0;
    @media @tablet {
      padding-left: 0;
    }
    .up, .down {
      color: @bidcarros-green;
      display: block;
      white-space: nowrap;
      letter-spacing: -1.5px;
    }
    .up {
      color: @bidcarros-blue;
    }
    .fa {
      font-size: 0.9em;
      padding-right: 5px;
    }
  }
  .bid-rate {
    font-size: 10px;
    &.clear-md {
      @media @wide {
        width: 10.8888%;
      }
    }
  }
  .menu-action {
    @media @wide {
      width: 5%;
    }
    text-align: right;
  }
}

body.page-buyer,
body.page-seller {
  form#form-create-sale-bid, form#form-create-bid {
    #edit-vehicle-price-info {
      div[class^='col-md'] {
        .fa {
          font-size: 4em;
          @media all and (min-width: 490px) and (max-width: 767px) {
            width: 7% !important;
          }
          @media all and (min-width: 140px) and (max-width: 490px) {
            width: 13% !important;
          }
        }
      }
    }
  }
  @media (max-width: 990px) and (min-width: 768px) {
    form#form-create-bid {
      #edit-vehicle-price-info {
        div[class^='col-md'] {
          .ctn, .prefix {
            font-size: 14px !important;
          }
        }
      }
    }
  }

  form#form-create-bid, form#form-create-sale-bid {
    div#insurance-min {
      padding: 0;
      i.lock-icon {
        vertical-align: top;
        background-image: url("../img/lock_icon.png");
        background-repeat: no-repeat;
        background-size: 75% 70%;
        padding: 0;
        background-position: top center;
        display: inline-block;
      }
      .txt {
        padding: 0;
      }
    }
    .container, .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }
    .form-group {
      margin-bottom: 20px;
      label {
        margin-bottom: 15px;
      }
      .form-control {
        font-size: 1.3em;
        padding: 15px 20px;
        border-color: transparent;
      }
    }
    .form-control[disabled] {
      background-color: #fff;
      border: 0 none;
      box-shadow: none;
    }
    .title {
      font-weight: bold;
      font-size: 1.5em;
      color: @bidcarros-blue;
      &:after {
        content: '';
        display: block;
        margin-top: 10px;
        width: 5%;
        max-width: 30px;
        min-width: 30px;
        height: 4px;
        background-color: @bidcarros-blue;
        border-radius: 5px;
      }
    }
    .form-item-model-name {
      input {
        color: @bidcarros-blue;
        font-weight: bold;
        background-color: #fff;
        border-bottom: 1px solid @gray-light!important;
      }
      .fa {
        color: @bidcarros-blue;
        position: absolute;
        top: 50%;
        right: 30px;
      }
    }
    // @media @wide {
    //   // special field
    //   .form-item-year {
    //     width: 13.3333%;
    //   }
    //   #edit-num-of-seller {
    //     width: 20%;
    //   }
    // }

    #edit-make {
      padding-left: 60px;
      background-repeat: no-repeat;
      background-size: 60px 60px;
    }

    #edit-model-name {
      padding-right: 50px;
    }
    // Bootstrap spinner
    .spinner.input-group {
      .input-group-btn-vertical {
        > .btn {
          .no-border;
          border-radius: 0!important;
          padding: 15px;
          background-color: @gray-light;
        }
        i {
          top: 4px;
          left: 4px;
          font-size: 1.2em;
        }
      }
    }
    #edit-num-of-seller,
    #edit-vehicle-price-info div[class^='col-md'] {
      label {
        display: block;
      }
      .price-with-icon;
      &#segurar-price {

        .txt {
          display: block;
          padding: 0;
        }
        .txt-desc {
          padding: 0px;
          @media @tablet {
            position: absolute;
            bottom: -18px;
          }
          @media screen and (max-width: 767px) and (min-width: 140px) {
            bottom: -25px;
          }
        }
      }
      @media @tablet-only {
        padding-bottom: 20px;
        .fa {
          margin-top: 7px;
        }
        span {
          // font-size: 150%!important;
        }
        .txt, .txt-desc {
          // font-size: 150%!important;
        }
      }
    }
    #edit-num-of-seller {
      .ctn {
        font-size: 2.8em;
      }
    }
    #edit-vehicle-price-info {
      div[class^='col-md'] {
        @media all and (min-width: 768px) and (max-width: 990px) {
         .fa {
          font-size: 2em !important;
        }


      }

      color: @gray;
      &#form-item-price {
        padding: 0px;
      }
      &#segurar-price {
        position: relative;
        padding: 0px;
        #line-seperate {
          @media all and (min-width: 140px) and (max-width: 767px) {
            display: none;
          }
          font-weight: bold;
          font-size: 15px;
          padding: 0;
          width: 10%;
        }
      }
      &#price-min, &#price-max, &#insurance-min {
        .ctn {
          .no-padding;
        }
      }
      .prefix {
        color: @gray;
        padding-left: 0;
        padding-right: 0px;
      }
      .txt {
        display: inline-block;
        vertical-align: middle;
        &:last-child {
          vertical-align: top;
        }
      }
      .fa {
        font-size: 4em;
        padding-right: 10px;
        width: 15%;
        @media all and (min-width: 450px) and (max-width: 767px) {
          width: 5%;
          font-size: 2em;
        }
        @media all and (min-width: 140px) and (max-width: 450px) {
          width: 8%;
          font-size: 2em;
        }
        &.fa-map-marker {
          margin-top: 0;
        }
      }
      &:nth-child(3), &:nth-child(4) {
        @media @normal {
          border-left: 1px solid @gray;
        }
      }
    }
  }
  #edit-color {
    div.form-item {
      @media @phone {
        .no-margin;
      }
      &:before {
        content: '';
        display: block;
        height: 50px;
        max-width: 120px;
        width: 100%;
        background-color: #000;
        margin-bottom: 10px;
        border: 1px solid @gray;
      }
      label {
        margin-left: 20px;
        padding-left: 30px;
      }
      &.item-color-gray:before {
        background-color: @gray;
      }
      &.item-color-white:before {
        background-color: #fff;
      }
      &.item-color-other:before {
        background: url("../img/other_color.jpg") no-repeat ;
        background-size: 100% 100%;
      }
    }
  }
  .form-item-step-2 {
      // overflow: auto;
      > label {
        display: block;
        line-height: 3em;
        font-size: 1.3em;
        margin-bottom: 1.2em;
        color: @bidcarros-blue;
        border-bottom: 1px solid @bidcarros-blue;
      }
      &.form-item-color {
        overflow: hidden;
      }
    }
    #edit-optional-extras, #edit-color {
      .form-item {
        @media screen and (min-width: 100px) {
          .no-margin;
        }

        input[type="checkbox"]:checked + label::after {
          display: inline-block;
          position: absolute;
          width: 16px;
          height: 16px;
          left: 0;
          top: 0;
          margin-left: -20px;
          padding-left: 3px;
          padding-top: 1px;
          font-size: 11px;
          color: #0387ee;
        }
      }
    }
    // css radios, checkboxes
    .radio label::after {
      background-color: @bidcarros-blue;
    }
    // list of matches bid
    #edit-list-matches-bid {
      .tbl-bids-list;
      display: none;
    }
    #edit-vehicle-price-info {
      [class^="col-md"] {
        label { font-size: 16px; }
        &#form-item-price {
          padding-left: 0;
        }
        &#num-of-bid {
          padding-right: 0;
          text-align: center;
        }
        .txt {
          font-size: 12px;
        }
      }
    }
    #edit-photo-seller {
      .plupload_filelist_footer {
        height: 35px;
        line-height: 25px;
      }
    }
    #edit-photos {
      span[class*='col-'], button[class*='col-'] {
        margin: 10px 0px;
        text-align: left;
      }
      .fileinput-button {
        margin-right: 0;
      }
      .btn {
        .fa {
          position: inherit;
          right: 0;
        }
      }
      .progress {
        margin-bottom: 0;
        .bar {
          background-color: #337AB7;
          border: 0 none;
        }
      }
      table {
        background-color: #fff;
        td {
          vertical-align: middle;
          @media @wide {
            &.delete input {
             margin-left: 15%;
           }
         }
       }
     }
   }
   #map-canvas {
    display: block;
    width: 100%;
    height: 200px;
    text-align: center;
    background-color: rgba(255,255,255,0.7);
  }
  .form-item-distance {
    overflow: visible;
    #distanceSlider {
      width: 100%;
      .slider-selection, .slider-track-high {
        background: lighten(@bidcarros-blue, 20%);
      }
      .slider-handle {
        border-radius: 5px;
      }
    }
  }

  button.form-submit {
    font-size: 1.5em;
    padding: 0.8em 0 0.8em 1.1em;
    text-align: left;
    margin: 1.3em auto;
    text-transform: uppercase;
    .fa {
      font-size: 1.5em;
      top: 20%;
      &.fa-angle-left {
        position: relative;
        float: left;
        left: 5px;
        padding-left: 10%;
      }
    }
    &#edit-back-to-search {
      padding-right: 1.8em;
      padding-left: 0;
      text-align: right;
    }

    @media all and (min-width: 320px) and (max-width: 480px) {
      font-size: 1.2em;
    }

    @media all and (min-width: 991px) and (max-width: 1199px) {
      font-size: 1.3em;
    }

  }
  @media all and (max-width: 768px) {
    #edit-vehicle-price-info {
      #insurance-min i.lock-icon {
        padding: 0 15px;
      }
    }

    #related-bids-wrapper{
      .row{
        .prefix, .ctn, .fa {
          font-size: 1.1em;
        }
      }
    }
  }
  @media all and (max-width: 768px) {

  }
  div.group-submit {
    div.advance-search {
      margin-left: 33%;
    }
    div.search-button {
      padding-right: 0;
    }
    div.advance-result,
    div.submit-advance,
    div.search-button-simple {
      padding-right: 0;
      margin-left: 67%;
    }

    @media all and (max-width: 480px) {

      div.advance-result,
      div.submit-advance,
      div.search-button-simple {
        margin-left: 0;
        button[id^='edit-advance-result'],
        button[id^='edit-submit-advance'],
        button[id^='edit-submit-simple'] {
          width: 100%;
          margin-left: 0;
          padding-left: 2%;
          font-size: 1.3em;
        }
      }
    }

    @media all and (min-width: 480px) and (max-width: 980px) {
      div.advance-result,
      div.submit-advance,
      div.search-button-simple {
        margin-left: 0;
        button[id^='edit-advance-result'],
        button[id^='edit-submit-advance'],
        button[id^='edit-submit-simple'] {
          width: 70%;
          margin-left: 0;
          padding-left: 2%;
          font-size: 1.3em;
        }
      }
    }

    @media all and (max-width: 768px) {
      width: 100%;
      #related-bids-wrapper{
        .row{
          .prefix, .ctn, .fa {
            font-size: 1.1em;
          }
        }
      }
      div.advance-search,
      div.search-button {
        padding: 0;
        margin-left: 0;

        button[id^='edit-advance-search'],
        button[id^='edit-submit'] {
          margin: 3% 0;
          width: 100%;
          padding-left: 2%;
          font-size: 1.3em;
        }
      }
      .row{
        .prefix, .ctn, .fa {
          font-size: 1 em !important;
        }
      }
    }

    @media all and (min-width: 768px) and (max-width: 1200px) {
      div.advance-search,
      div.search-button {
        padding: 0;
        margin-left: 0;
        width: 50%;

        button[id^='edit-advance-search'],
        button[id^='edit-submit'] {
          margin: 3% 0;
          padding-left: 2%;
          font-size: 1.3em;
          width: 90%;
        }
      }
    }

  }
}
}

body.page-seller, body.page-buyer {
  form#form-create-sale-bid, form#form-create-bid {
    #edit-vehicle-price-info {
      @media all and (max-width: 960px) {
        .txt-desc {
          position: absolute;
          bottom: 0;
        }
      }
      @media all and (min-width: 992px) {
        #price-min {
          font-size: 8px;
          padding: 0 5px;
        }
        #price-max {
          font-size: 8px;
          padding: 0 5px;
          margin-left: 1%;
          border-left: 1px solid;
        }
        #segurar-price {
          border-left: 0 none;
          padding-left: 8px;
          .minn {
            padding-left: 0;
          }
          #max-price-create-sale, #min-price-create-sale {
            width: 45%;
            .ctn {
              padding: 0;
            }
          }
          #line-seperate {
            padding: 0;
            width: 10%;
            text-align: center;
          }
        }
        #insurance-min {
          font-size: 8px;
          width: 15%;
          float: right;
          i.lock-icon {
            height: 40px;
            padding: 0;
            width: 20%;
          }
        }
        #price-max , #price-min {
          i.fa, .ctn {
            width: 15%;
          }
          i.fa {
            text-align: center;
          }
        }
      }
    }
  }
}

body.page-buyer-create-bid {
  #edit-list-matches-bid .text-truncate {
    @media @normal {
      width: 180px;
    }
  }
}

body.page-seller-create-bid {
  #edit-list-matches-bid .text-truncate {
    @media @normal {
      width: 270px;
    }
  }
}
body.page-user-purchase-bids, body.page-user-sale-bids {
  .bid-expired {
    @media screen and (min-width: 140px) and (max-width: 767px)  {
      text-align: center;
    }
  }
}

body.page-user-purchase-bids,
body.page-user-sale-bids {
  div#list-all-purchase-bids,
  div#list-all-sale-bids {
    .title {
      margin-bottom: 0;
    }
    font-size: 15px;
    .tbl-bids-list;
    .bid-thumbnail {
      @media @wide {
        // width: 13%;
      }
    }
    .bid-title {
      text-align: center;
      font-weight: bold;
    }
    .bid-price,
    .related-bid-count {
      font-size: 14px;
      @media @wide {
        text-align: center;
      }
      .prefix {
        .no-margin;
        .no-padding;
      }
      .fa {
        padding-right: 0.3em;
        color: @bidcarros-blue;
        &.fa-map-marker {
          font-size: 26px;
          vertical-align: middle;
        }
      }
    }
    .related-bid-count {
      .ctn {
        @media @tablet-only {
          font-size: 30px;
        }
      }
    }
    .bid-price {
      font-size: 8px;
      text-align: left;
      // padding: 10px 0;
      @media @tablet {
        padding-left: 0;
      }
    }
    .bid-expired {
      span {
        color: #FD6F5C;
        font-weight: bold;
      }
    }
    .menu-action {
      @media @wide {
        &:hover {
          background-color: #f5f5f5;
        }
      }
      font-size: 10px;
      a {
        width: 100%;
        display: block;
        color: @gray;
        .fa::before {
          font-size: 1.6em;
        }
      }
    }
    .paging {
      background-color: transparent!important;
      .btn {
        .fa {
          // top: 1.2em;
        }
        &.prev {
          .fa {
            right: auto;
            left: 10%;
          }
        }
      }
    }
  }

  div#list-all-purchase-bids, div#list-all-sale-bids {

    div.container-fluid {
      @media screen and (min-width: 320px) {
        position: relative;
      }
    }

    div.text-right {
      right: 10px;
      top: 11px;
      position: absolute;

      @media screen and (min-width: 140px) {
        font-size: 8px;
      }

      @media screen and (min-width: 390px) {
        font-size: 12px;
      }

      @media screen and (min-width: 600px) {
        font-size: 15px;
        right: 15px;
        top: 22px;
      }
    }

    h2.title {

      font-size: 16px;

      @media screen and (min-width: 390px) {
        font-size: 20px;
      }

      @media screen and (min-width: 600px) {
        font-size: 30px;
      }
    }

    div.row {

      div.bid-title {
        @media screen and (min-width: 320px) {
          text-align: center;
        }
      }

      div.bid-thumbnail {
        @media screen and (min-width: 768px) {
          padding: 0;
        }
      }

      div.related-bid-count {
        .ctn {
          @media screen and (min-width: 768px) {
            padding: 0;
            font-size: 30px;
          }
        }

        @media screen and (min-width: 140px) {
          padding-left: 0;
          text-align: center;
        }

        @media screen and (min-width: 768px) {
          padding: 0;
        }
      }
    }

    div.bid-expired {
      @media screen and (min-width: 320px) {
        text-align: center !important;
        font-weight: bold;
      }

      @media screen and (min-width: 768px) {
        font-weight: bold;
        padding: 0;
      }
    }

    div.up-and-down {
      @media screen and (min-width: 140px) {
        padding-left: 0;
        text-align: center;
      }

      @media screen and (min-width: 768px) {
        text-align: left;
      }
    }

  }
}

div#list-all-sale-bids div.container-fluid div[class="row table-heading"],
div#list-all-purchase-bids div.container-fluid div[class="row"] {
  height: 79px;

  img.no-logo {
    height: 45px;
    width: 50px;
    margin: 0 auto;
  }

  @media all and (max-width: 768px) {
    height: 100%;

    img {
      width: 120px;
      height: 120px;
      margin: 0 auto;
    }

    img.no-logo {
      height: 45px;
      width: 50px;
      margin: 0 auto;
    }
    div.bid-thumbnail {
      padding: 0;
    }
  }

  @media all and (min-width: 768px) and (max-width: 991px) {
    padding: 15px 0;
    height: 100%;
    img {
      width: 100%;
      height: auto;
      margin: 0 auto;
    }
    img.no-logo {
      height: 100%;
      margin: 20px auto;
    }
    div.bid-thumbnail {
      padding: 0;
    }
  }

  @media all and (min-width: 992px) and (max-width: 1200px) {
    height: 100%;
    padding: 15px 0;
    div.bid-thumbnail {
      padding: 0;
    }
    img {
      width: 50px;
      height: 50px;
    }
    img.no-logo {
      height: 30px;
      margin: 20px auto;
    }
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {
  #form-create-sale-bid {
    #edit-vehicle-price-info {
      #price-max, #price-min, div#insurance-min {
        margin-top: 20px;
      }
    }
  }
}
@media all and (min-width: 140px) and (max-width: 1024px) {
  body.page-buyer,
  body.page-seller {
    form#form-create-sale-bid, form#form-create-bid {
     div#insurance-min i.lock-icon {
      height: 40px !important;
    }
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  body.page-buyer,
  body.page-seller {
    form#form-create-bid, form#form-create-sale-bid {
      .form-item-distance #distanceSlider {
        width: 95%;
      }
    }

    form#form-create-sale-bid, form#form-create-bid {
      div#insurance-min i.lock-icon {
        height: 50px;
      }
    }
  }

  body.page-buyer-create-bid, body.page-user-bid-details, body.page-seller-create-bid {
    form#form-create-bid #edit-list-matches-bid .up-and-down {
      display: none;
    }
    form#form-create-bid {
      div[id^="edit-vehicle-price-info"] {
        .ctn, .prefix {
          font-size: 12px !important;
        }
        .prefix {
          padding-right: 0 !important;
        }
        .ctn {
          padding-left: 5px !important;
        }
      }
    }

    form#form-create-sale-bid {
      div[id^="edit-vehicle-price-info"] {
        div[id^="num-of-bid"] {
          text-align: center;
          .fa-map-marker {
            display: inline-block !important;
          }
          .txt {
            display: inline !important;
          }
        }
      }

      div.content .container form#form-bid-details div#related-bids-wrapper .row  {
        .ctn, .prefix {
          font-size: 16px !important;
        }
      }
    }
  }
}

@media all and (max-width: 400px) and (min-width: 140px) {
  body.page-buyer,
  body.page-seller {
    form#form-create-sale-bid, form#form-create-bid {
     #edit-vehicle-price-info {
      // #min-price-create-sale, #max-price-create-sale {
      //   .prefix, .ctn {
      //     padding: 0 15px !important;
      //   }
    }
  }
}
}
}

@media all and (max-width: 767px) and (min-width: 140px) {
  #edit-vehicle-price-info {
    #insurance-min {
      i.lock-icon {
        padding: 0 !important;
      }
    }
  }

  body.page-buyer,
  body.page-seller {
    form#form-create-sale-bid, form#form-create-bid {
      #edit-vehicle-price-info {
        // div#insurance-min {
        //   padding: 0 15px !important;
        // }
        #min-price-create-sale, #max-price-create-sale {
          .ctn {
            padding: 0 10px;
          }
        }
        #price-min, #price-max {
          padding: 0;
        }
        #price-min {
          margin-top: 30px;
          i.fa {
            margin: 0;
          }
        }
        #price-max {
          margin-top: 10px;
        }
      }
    }
    form#form-create-bid, form#form-create-sale-bid {
      .form-item-distance #distanceSlider {
        width: 95%;
      }
    }
  }

  body.page-buyer-create-bid  {
    form#form-create-bid #edit-list-matches-bid .up-and-down {
      display: none;
    }
  }

  body.page-user-sale-bids div#list-all-sale-bids {
    .row.heading {
      display: none !important;
    }
    .bid-price {
      text-align: center;
    }
  }

  body.page-user-purchase-bids div#list-all-purchase-bids {
    .row.heading {
      display: none !important;
    }
  }
}
@media all and (max-width: 768px) {
  body.not-front {
    #form-search-car #btnCreateBID {
      font-size: 0;
      .fa {
        right: 35%;
        font-size: 40px;
        top: 5%;
      }
    }
  }
}