body{
	#modalContent{
		display: none !important;
	}
}
#login-modal{
	.form-control {
		font-size: 25px;
		padding: 1em .5em;
	}
	.help-block{
		display: none;
	}
	.modal-content{
		background-color: #f2f2f2;
		width: 100%;
		.link-to-fb{
			text-decoration: none;
			.btn-facebook{
				width: 100%;
				background: #3a5795;
				text-align: center;
				padding: 10px 0;
				margin-top: 10px;
				border: 1px solid #133783;
				i{
					font-size: 40px;
					color: #fff;
					float: left;
					position: absolute;
					left: 100px;
				}
				span{
					font-size: 25px;
					color: #fff;
					position: relative;
				}
				&:hover{
					background: #133783;
				}
			}
		}
	}
	.hybridauth-widget-wrapper{
		display: none;
	}
	button.form-submit {
		width: 100%;
		color: #fff;
		background: @bidcarros-cyan;
		padding: 10px;
		font-size: 25px;
		// position: relative;
		// bottom: 90px;
		&:hover{
			background: @btn-info-bg-hover;
		}
	}
	.create_account{
		margin-top: 10px;
		text-align: center;
		text-decoration: underline;
	}
	.form-type-radio.form-item.radio{
		float: right;
		width: 32%;
		margin: 0 !important;
	}
	a.user-password{
		position: relative;
		top: 0px;
	}
	input[type="text"]{
		border:none;
		font-size: 15px;
	}
	input[type="password"]{
		border:none;
		font-size: 15px;
	}
	input[type="checkbox"]{
		margin-left: 0 !important;
	}

	.hybridauth-widget .btn-primary {
		padding: 7px 15px !important;
	}
}
@media screen and (max-width: 640px) and (min-width: 471px){
	#login-modal{
		.modal-content{
			padding: 1em 1em 1.5em 1em;
			.link-to-fb{
				.btn-facebook{
					i.fa-facebook{
						left: 12%;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 470px) and (min-width: 380px) {
	// #user-login {
	// 	button[id^='edit-submit'] {
	// 		font-size: 16px !important;
	// 		line-height: 51px;
	// 	}
	// }
	#login-modal{
		.modal-content {
			padding: 1em 1em 1.5em 1em;
			.link-to-fb {
				.btn-facebook{
					// height: 51px !important;
					// padding: 16px 0 10px;
					i{
						font-size: 35px;
						left: 8%;
					}
					span {
						font-size: 25px;
						margin-left: 5px;
					}
				}
			}
		}
		// .hybridauth-widget-wrapper ul.hybridauth-widget {
		// 	.btn-primary {
		// 		padding: 0;
		// 	}
		// 	.text {
		// 		font-size: 14px;
		// 		width: 100%;
		// 	}
		// 	li {
		// 		padding: 0;
		// 		span {
		// 			font-size: 35px;
		// 			margin-right: 0;
		// 		}
		// 	}
		// }
		// button.form-submit {
		// 	font-size: 18px;
		// 	padding: 0;
		// 	line-height: 49.7px;
		// }
		// ul.hybridauth-widget {
		// 	.text {
		// 		font-size: 18px!important;
		// 	}
		// 	li span {
		// 		font-size: 22px!important;
		// 		margin-top: 8px;
		// 	}
		// }
	}
}

@media  screen and (max-width: 379px) and (min-width: 320px){
	#login-modal{
		.modal-content {
			padding: 0.5em;
			.link-to-fb {
				.btn-facebook{
					// height: 51px !important;
					// padding: 16px 0 10px;
					i{
						// font-size: 35px;
						// left: 8%;
						display: none;
					}
					// span {
					// 	font-size: 25px;
					// 	margin-left: 5px;
					// }
				}
			}
		}
	}
}
@media  screen and (max-width: 319px) and (min-width: 140px){
	#login-modal{
		.modal-content {
			padding: 1em 1em 1.5em 1em;
			.modal-body{
				padding: 10px;
			}
			.link-to-fb {
				.btn-facebook{
					i{
						display: none;
					}
				}
			}
		}
	}
}
