body.page-user-register {
  div.alert {
    margin: 18px 28px 28px 28px;
  }
}

body.not-logged-in {
  #alert-modal{
    .btn_ok {
      background-color: @bidcarros-cyan;
      width: 100%;

      font-size: 20px;
      text-align: center;
      color: @white;
      height: 60px;
      line-height: 40px;
    }

    .footer-btn{
      margin-top: 40px;
      text-align: center;
    }
    .modal-header{
      padding-bottom: 31px;
      padding-top: 40px;
    }

    .modal-dialog{
      max-width: 450px;
    }

    .modal-title{
      font-size: 20px;
    }

    .modal-body{
      padding: 40px 1em;
    }
  }

  #user-register-form {
    .link-to-fb{
        text-decoration: none;
        .btn-facebook{
            width: 40%;
            background: #3a5795;
            text-align: center;
            padding: 10px 0;
            margin-top: 10px;
            border: 1px solid #133783;
            position: absolute;
            top: 0px;
            right: 15px;
          i{
            font-size: 35px;
            color: #fff;
            float: left;
            position: absolute;
            left: 50px;
            top: 8px;
          }
          span{
            font-size: 20px;
            color: #fff;
            position: relative;
          }
          &:hover{
            background: #133783;
          }
        }
      }
    .header-form-register {
      position: relative;
      .hybridauth-widget-wrapper {
        display: none;
        width: 100%;
        overflow: hidden;
        h3 {display: none}
        @media @tablet {
          position: absolute;
          top: 0;
          right: 15px;
          width: 320px;
        }
        li {
          padding: 5px 8px!important;
          a b {
            font-size: 18px
          }
          .hybridauth-icon.facebook {
            font-size: 30px;
            margin-right: 0;
            float: left!important;
          }
        }
      }
    }
    .form-submit.ajax-processed{
      //display: none;
    }
    .form-register {
      .form-wrapper.form-group,
      .form-item.form-group {
        margin: 0px 1% 40px;
        input{
          padding: 20px 20px !important;
        }
        .image-widget .image-preview img {
          width: 150px;
          height: 150px;
        }

        .image-widget .image-widget-data {
          .form-file,
          .btn.btn-default.form-submit,
          .btn.btn-danger.form-submit {
            display: none;
          }

          label {
            font-size: 18px;
            margin-right: 15px;
          }
        }

        .form-wrapper.form-group,
        .form-item.form-group {
          width: 100%;
          margin: 0 !important;
        }

        input, select {
          padding: 20px;
          width: 100%;
          border: none;
          font-size: 16px;
        }

        input.form-control {
          display: inline-block;
        }

        .password-strength,
        .password-confirm,
        .help-block {
          display: none;
        }
      }

      .password-parent {
        width: auto;
      }
      .password-suggestions.description {
        display: none !important;
      }

      .field-name-field-lat, .field-name-field-lng {
        display: none;
      }

      #edit-field-photo {
        label[for^='edit-field-photo'] { display: none }
        .image-widget {
          text-align: center;
          div.image-widget-data {
            label {display: block}
            float: none;
            display: inline-block;
            .image-preview img{
              border-radius: 50%;
              width: 150px;
              height: 150px;
            }
          }
        }
      }
      .canvas_map{
        margin-bottom:  10px;
        #map-canvas {
          display: block;
          width: 98%;
          height: 250px;
          margin: 10px;
        }
        span{
          vertical-align: middle;
        }
      }
    }

    .register-submit button.form-submit {
      font-size: 1.5em;
      padding: 0.8em 0 0.8em 1.1em;
      text-align: left;
      margin: 1.3em auto;
      text-transform: uppercase;
      .fa {
        font-size: 1.5em;
        top: 20%;
        &.fa-angle-left {
          position: relative;
          float: left;
          left: 5px;
          padding-left: 10%;
        }
      }
      &:hover{
        background-color: @btn-info-bg-hover;
      }
    }

    .term-of-use {
      .form-type-textarea.form-item.form-group {
        label { float: left; }
      }

      #content-term {
        height: 500px;
        overflow: auto;
        border: 1px solid #d8d5d5;
        resize: none;
        padding: 10px;
        background-color: #ffffff;

        h3,
        p {
          text-align: justify;
          color: #000000;
        }
      }
    }
  }

  // .hybridauth-widget-wrapper .hybridauth-widget:hover {
  //   b {
  //     color: @bidcarros-blackgreen;
  //   }
  // }
}

@media screen and (max-width: 320px) {
  body.not-logged-in {
    font-size: 15px;
    // #user-register-form {
    //   .form-register {
    //     .image-widget .image-widget-data {
    //       label {
    //         font-size: 15px !important;
    //         margin-right: 15px;
    //       }
    //     }
    //   }
    //   .register-submit button.form-submit {
    //     width: 60%;
    //   }
    // }
  }
  #login-modal .modal-content {
    width: 100%;
  }
  body.page-user {
    // .header-form-register{
    //   h2.title {
    //     width: 100%;
    //     line-height: 1.1 !important;
    //     padding: 0;
    //   }
    //   .hybridauth-widget-wrapper {
    //     float: none;
    //     .hybridauth-widget {
    //       width: 0;
    //     }
    //   }
    // }

    #content > {
      .container {
        .row {
          margin: 0;
          #main-content {
            padding: 0;
          }
        }
      }
      button[id^='edit-submit']{
        // width: 60% !important;
      }
    }
    form#user-register-form .hybridauth-widget-wrapper ul.hybridauth-widget li {
      padding: 0;
      b {
        // display: none;
      }
      a span {
        font-size: 25px;
        float: none !important;
        margin-right: 0;
      }
    }
  }

}

@media only screen
and (min-width: 768px)
and (max-width: 1024px) {
  // body.not-logged-in {
  //   .header-form-register {
  //     display: block;
  //     height: auto;
  //     padding-bottom: 30px;
  //     position: relative;
  //     .hybridauth-widget-wrapper {
  //       width: 40%;
  //       display: block;
  //       float: none;
  //       position: absolute;
  //       top: 0;
  //       right: 0;
  //     }
  //   }
  // }
  body.page-user {
    // .header-form-register h2.title {
    //   width: 100%;
    //   float: none;
    //   display: block;
    // }
    form#user-register-form .hybridauth-widget-wrapper {
      display: block;
      float: none;
      ul.hybridauth-widget li {
        padding: 0;
        b {
          display: block;
        }
        a span {
          font-size: 25px;
          float: none !important;
          margin-right: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 991px) and (min-width: 730px){
	body.not-logged-in{
		#user-register-form{
		 	.link-to-fb{
		 		.btn-facebook{
		 			width: 45%;
		 			i.fa-facebook{
		 				font-size: 30px;
		 				left: 3.5%;
	   				top: 9px;
		 			}
		 		}
		 	}
		}
	}
}
@media screen and (max-width: 729px) and (min-width: 470px){
	body.not-logged-in{
		#user-register-form{
		 	.link-to-fb{
		 		.btn-facebook{
		 			position: relative;
		 			margin: 0px 1% 30px;
	 			   width: 98%;
	 			   top: 0;
	 			   right: 0;
		 			i.fa-facebook{
					  left: 5%;
					  top: 20%;
		 			}
		 			span{
		 				font-size: 25px;
 				     // right: 10%;
		 			}
		 		}
		 	}
		}
	}
}
@media screen and (max-width: 469px) and (min-width: 390px){
	body.not-logged-in{
		#user-register-form{
			h2.title{
				font-size: 29px;
			}
		 	.link-to-fb{
		 		.btn-facebook{
		 			position: relative;
		 			margin: 0px 1% 30px;
	 			   width: 98%;
	 			   top: 0;
	 			   right: 0;
		 			i.fa-facebook{
		 				display: none;
		 			}
		 			span{
		 				font-size: 25px;
 				     // right: 10%;
		 			}
		 		}
		 	}
		}
	}
}
@media screen and (max-width: 389px) and (min-width: 320px){
	body.not-logged-in{
		#user-register-form{
			.container-fluid{
				padding-left: 3px;
				padding-right: 3px;
				div[class^='col-md']{
					padding: 0;
				}
				h2.title{
					font-size: 29px;
				}
			 	.link-to-fb{
			 		.btn-facebook{
			 			position: relative;
			 			margin: 0px 1% 30px;
		 			   width: 98%;
		 			   top: 0;
		 			   right: 0;
			 			i.fa-facebook{
			 				display: none;
			 			}
			 			span{
			 				font-size: 25px;
			 			}
			 		}
			 	}
			}
		}
	}
}
@media screen and (max-width: 319px) and (min-width: 140px){
	body.not-logged-in{
		#user-register-form{
			.container-fluid{
				padding-left: 3px;
				padding-right: 3px;
				div[class^='col-md']{
					padding: 0;
				}
				h2.title{
					font-size: 26px;
				}
			 	.link-to-fb{
			 		.btn-facebook{
			 			position: relative;
			 			margin: 0px 1% 30px;
		 			   width: 98%;
		 			   top: 0;
		 			   right: 0;
			 			i.fa-facebook{
			 				display: none;
			 			}
			 			span{
			 				font-size: 20px;
			 			}
			 		}
			 	}
			}
		}
	}
}