#mimemail-body{
	width: 850px;
}
#mimemail-body table.main{
	width: 100%;
	background: #fff;
  border: 2px solid #CABCBC;
}
#mimemail-body table.main .body{
	background: #fff;
}
#mimemail-body table.message .row-1 a{
	text-decoration: none;
  color: #fff;
}
#mimemail-body table.message .row-1 a p.button-submit{
	text-align: center;
  background-color: #01c999;
  width: 40%;
  padding: 20px 0;
  margin: 0 auto;
  text-decoration: none;
}
#mimemail-body table.message p.support .link_to{
	color: #0088ee;
	font-weight: bold;
}
#mimemail-body table.message .row-2{
	background: #fff;
}
#mimemail-body table.message .row-2 td{
	padding-top: 30px;
}
#mimemail-body table.message{
	width: 100%;
	padding:90px 90px 150px 90px;
}

#mimemail-body table.message tbody{
	background: #f5f5f5;
}
#mimemail-body table.message .content{
	padding: 30px 40px;
	border-bottom: 2px solid #CABCBC;
	border-right: 2px solid #CABCBC;
}
#mimemail-body table.message .content p.title{
	color: #0088ee;
	font-weight: bold;
	border-bottom: 2px solid #0088ee;
	padding-bottom: 10px;
}
#mimemail-body table.message .content p.main-content{
	padding-top: 20px;
}
#mimemail-body table.main tr.footer{
	background: #0088ee;
	width: 100%;
	height: 150px;
}
#mimemail-body table.main tr.footer table.footer{
	width: 80%;
	border-bottom: 1px solid #6CAFE2;
}
#mimemail-body table.main tr.footer table.footer .logo{
  width: 200px;
  vertical-align: top;
}
#mimemail-body table.main tr.footer table.footer .social{
	width: 365px;
}
#mimemail-body table.main tr.footer table.footer .social img[alt="social"]{
	width: 40px;
	vertical-align: top;
	margin-right: 20px;
}
#mimemail-body table.main tr.text_bot{
	color: #68BAF9;	
  text-align: center;
  background-color: #0088ee;
}
#mimemail-body table.main tr.text_bot td{
	padding: 10px;
}
/*#mimemail-body #main{
	background-color: #fff;
}
#mimemail-body #main .header{
	background-color: #bde9d5;
	margin-bottom: 20px; 
}
#mimemail-body #main .support{
	margin: 0 auto;
	padding-top: 10px;
	width: 600px;
}
#mimemail-body #main .footer{
	background-color: #0088ee;
	margin-top: 20px;
}
#mimemail-body #main .body{
	margin: 0 auto;
	padding: 20px;
	width: 600px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #b5b5b5;
	border-right: 1px solid #b5b5b5;
}
#mimemail-body #main .body .text{
	padding-top: 20px;
	margin-bottom: 50px; 
}
#mimemail-body #main .body .button {
	width: 300px;
	margin: 0 auto;
	color:#fff;
	text-decoration: none;
	background:#009ea1;
	padding:10px 30px;
	text-align: center;
}*/